.title {
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
  padding: 5px 0;
  line-height: 1.5;
}

.posted {
  font-size: 16px;
  font-weight: bold;
  font-style: oblique;
  padding: 10px 0;
}

.description {
  font-size: 18px;
  font-weight: 500;
  font-style: oblique;
  line-height: 2;
}

.showLess {
  height: 13rem;
  overflow: hidden;
}
