<div class="app-modal">
  <div class="app-modal-body" [ngClass]="className">
    <ng-content></ng-content>
  </div>
</div>
<div class="app-modal-background"></div>

<!-- <app-modal id="custom-modal-1" class="sm-modal">
  <div class="m-header">
    <div class="m-title">
      <h3 class="center">Title Here</h3>
    </div>
    <div class="close" (click)="closeModal('custom-modal-1')">
      <span
        class="svg-icon svg-icon-primary svg-icon-2x"
        [inlineSVG]="'assets/media/svg/icons/Navigation/Close.svg'"
      ></span>
    </div>
  </div>
  <div class="m-body">
    <h6>Welcome To Body</h6>
  </div>
  <div class="m-footer text-right">
    <button class="btn btn-primary">Submit</button>
    <button class="btn btn-danger ml-1" (click)="closeModal('custom-modal-1')">
      Cancel
    </button>
  </div>
</app-modal> -->
