<div class="forms-edit">
  <div class="dashboard-header">{{ "FORMS.FORMS_DETAILS" | translate }}</div>
  <button
    class="btn btn-sm back-btn"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    "
    (click)="goBack()"
  >
    &#215;
  </button>
</div>

<div class="forms-form">
  <form
    class="form needs-validation text-center container"
    novalidate
    [formGroup]="formsForm"
    autocomplete="off"
    novalidate="novalidate"
    id="forms_form"
  >
    <input id="id" name="id" formControlName="id" style="display: none" />
    <div class="row mb-2">
      <label for="title" class="col-3 col-form-label">{{
        "FORMS.TITLE" | translate
      }}</label>
      <div class="col-8">
        <input
          *ngIf="language == 'hi'"
          type="text"
          id="title"
          name="title"
          placeholder="{{
            'DASHBOARD_NEWS_EVENT.TITLE_PLACEHOLDER' | translate
          }}"
          formControlName="title"
          autocomplete="off"
          class="form-control hindi hindiFont"
          [ngClass]="{
            invalidInput: isControlHasErrors('title')
          }"
          (change)="focusOut($event, 'title')"
          (focusout)="focusOut($event, 'title')"
          required
        />
        <input
          *ngIf="language == 'en'"
          type="text"
          id="title"
          name="title"
          placeholder="{{
            'DASHBOARD_NEWS_EVENT.TITLE_PLACEHOLDER' | translate
          }}"
          formControlName="title"
          autocomplete="off"
          class="form-control"
          [ngClass]="{
            invalidInput: isControlHasErrors('title')
          }"
          (change)="focusOut($event, 'title')"
          (focusout)="focusOut($event, 'title')"
          required
        />
      </div>

      <div *ngIf="isControlHasError('title', 'required')" class="invalid">
        <strong>Title is required</strong>
      </div>
      <div *ngIf="isControlHasError('title', 'minlength')" class="invalid">
        <strong>Minimum 3 character required</strong>
      </div>
      <div *ngIf="isControlHasError('title', 'maxlength')" class="invalid">
        <strong>Max length allowed 320</strong>
      </div>
    </div>

    <div class="row mb-2">
      <label for="link" class="col-3 col-form-label">{{
        "FORMS.LINK" | translate
      }}</label>
      <div class="col-8">
        <input
          type="url"
          id="link"
          name="link"
          placeholder="{{ 'LINKS.ENTER_URL' | translate }}"
          formControlName="link"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ invalidInput: isControlHasErrors('link') }"
        />
      </div>
    </div>
    <span>OR</span>
    <div class="row mb-2">
      <label for="linkSource" class="col-3 col-form-label">{{
        "FORMS.ATTACH_FILE" | translate
      }}</label>
      <div class="col-8">
        <input
          type="file"
          id="linkSource"
          name="linkSource"
          placeholder="Attach File"
          accept="application/pdf,image/jpg,image/gif,image/jpeg"
          (change)="handleFileChange($event.target.files)"
          formControlName="linkSource"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ invalidInput: isControlHasErrors('linkSource') }"
        />
      </div>
    </div>
    <div class="row mb-2">
      <label for="description" class="col-3 col-form-label">{{
        "FORMS.DESCRIPTION" | translate
      }}</label>
      <div class="col-8">
        <textarea
          *ngIf="language == 'hi'"
          type="text"
          id="description"
          name="description"
          placeholder="{{ 'TRANSFER.ENTER_TRANSFER_DESCRIPTION' | translate }}"
          formControlName="description"
          autocomplete="off"
          class="form-textarea hindi hindiFont"
          [ngClass]="{
            invalidInput: isControlHasErrors('description')
          }"
          (change)="focusOut($event, 'description')"
          (focusout)="focusOut($event, 'description')"
          required
        ></textarea>
        <textarea
          *ngIf="language == 'en'"
          type="text"
          id="description"
          name="description"
          placeholder="{{ 'TRANSFER.ENTER_TRANSFER_DESCRIPTION' | translate }}"
          formControlName="description"
          autocomplete="off"
          class="form-textarea"
          [ngClass]="{
            invalidInput: isControlHasErrors('description')
          }"
          (change)="focusOut($event, 'description')"
          (focusout)="focusOut($event, 'description')"
          required
        ></textarea>
      </div>

      <div *ngIf="isControlHasError('description', 'required')" class="invalid">
        <strong>Description is required</strong>
      </div>
      <div
        *ngIf="isControlHasError('description', 'minlength')"
        class="invalid"
      >
        <strong>Minimum 3 character required</strong>
      </div>
    </div>
    <div class="row mb-2">
      <label for="priority" class="col-3 col-form-label">{{
        "FORMS.PRIORITY" | translate
      }}</label>
      <div class="col-8">
        <input
          type="number"
          id="priority"
          min="1"
          (keypress)="numberOnly($event)"
          name="priority"
          placeholder="{{ 'FORMS.ENTER_PRIORITY' | translate }}"
          formControlName="priority"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ invalidInput: isControlHasErrors('priority') }"
          required
        />
      </div>
      <div *ngIf="isControlHasError('priority', 'required')" class="invalid">
        <strong>Priority is required</strong>
      </div>
      <div *ngIf="isControlHasError('priority', 'minlength')" class="invalid">
        <strong>Priority Minimum length is 1</strong>
      </div>
    </div>
    <div
      class="
        form-group
        d-flex
        flex-wrap
        justify-content-center
        align-items-center
      "
    >
      <button
        id="forms_submit"
        (click)="submit()"
        class="btn btn-primary px-9 py-9"
        [disabled]="loading"
        *ngIf="ADD_FORMS && ADD_URL && !FORMS_PARAMS.ID"
      >
        Save
        <div
          class="spinner-border spinner-border-sm text-light align-middle"
          *ngIf="loading"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>
      <button
        id="forms_submit"
        (click)="submit()"
        class="btn btn-primary px-9 py-9"
        [disabled]="loading"
        *ngIf="EDIT_FORMS && EDIT_URL && FORMS_PARAMS.ID"
      >
        Save
        <div
          class="spinner-border spinner-border-sm text-light align-middle"
          *ngIf="loading"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </form>
</div>
