<div
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  "
>
  <div class="dashboard-header"  style="flex-grow: 1; text-align: center">
    {{ "CIRCLE_INSPECTOR.CIRCLE_INSPECTOR_DETAILS" | translate }}
  </div>
  <button
    class="dashboard-header btn btn-sm back-btn"
    style="font-size: 30px"
    (click)="goBack()"
  >
    <!-- &#215; -->
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>

<section class="table-sec">
  <div class="container">
    <div class="accordion" id="tableModule">
      <div class="card m-3">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0 d-flex">
            <span
              class="justify-content-center text-left"
              style="cursor: pointer"
              (click)="toggle()"
              >
              {{ "CIRCLE_INSPECTOR.CIRCLE_INSPECTOR_DETAILS" | translate }}
            </span>
            <div
              *ngIf="!isCollapsed"
              style="justify-content: flex-end; align-items: flex-end"
            >
              <i
                class="material-icons"
                style="cursor: pointer"
                (click)="toggle()"
                >add</i
              >
            </div>
            <div
              *ngIf="isCollapsed"
              style="justify-content: flex-end; align-items: flex-end"
            >
              <i
                class="material-icons"
                style="cursor: pointer"
                (click)="toggle()"
                >remove</i
              >
            </div>
          </h5>
        </div>

        <div class="collapse show" *ngIf="isCollapsed">
          <div class="card-body">
            <form
              class="form needs-validation text-center container"
              novalidate
              [formGroup]="circleInspectorForm"
              autocomplete="off"
              novalidate="novalidate"
              id="circle_form"
            >
              <input id="id" name="id" formControlName="id" style="display: none" />
              <div class="row">
                
                
                <div class="col-6">
                  <div class="row mb-2">
                    <label for="rangeId" style="font-weight: bold" class="col-3 col-form-label">
                      {{ "RANGE.RANGE_TITLE" | translate }}
                    </label>
                    <div class="col-8">
                      <select
                        name="rangeId"
                        id="rangeId"
                        formControlName="rangeId"
                        autocomplete="off"
                        class="form-select"
                        (change)="selectRange()"
                        [ngClass]="{invalidInput: isControlHasErrors('rangeId')}"
                        required
                      >
                      <option value="null" disabled>
                        Select Range
                      </option>
                      <option
                        *ngFor="let range of RangeList"
                        value="{{ range.id }}"
                      >
                        <span *ngIf="language == 'en'">{{range.rangeName}}</span>
                        <span *ngIf="language == 'hi'">{{range.rangeNameHi}}</span>
                      </option>
                    </select>
                    </div>
                  
                    <div *ngIf="isControlHasError('rangeId', 'required')" class="invalid">
                      <strong>Range is required</strong>
                    </div>
                    
                  </div>
                </div>
                
                <div class="col-6">
                  <div class="row mb-2">
                    <label for="districtId" style="font-weight: bold" class="col-3 col-form-label">
                      {{ "APPOINTMENT.DISTRICT" | translate }}
                    </label>
                    <div class="col-8">
                      <select
                        name="districtId"
                        id="districtId"
                        formControlName="districtId"
                        autocomplete="off"
                        class="form-select"
                        (change)="selectDistrict()"
                        [ngClass]="{invalidInput: isControlHasErrors('districtId')}"
                        required
                      >
                      <option value="null" disabled>
                        Select Range
                      </option>
                      <option
                        *ngFor="let range of selectedDistrict"
                        value="{{ range.id }}"
                      >
                        <span *ngIf="language == 'en'">{{range.districtName}}</span>
                        <span *ngIf="language == 'hi'">{{range.districtNameHi}}</span>
                      </option>
                    </select>
                    </div>
                  
                    <div *ngIf="isControlHasError('districtId', 'required')" class="invalid">
                      <strong>District is required</strong>
                    </div>
                    
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row mb-2">
                    <label for="subdivisionName" class="col-3 col-form-label">{{
                      "SUBDIVISION.SEL_SUBDIV" | translate
                    }}</label>
                    <div class="col-8">
                      <select
                        name="subdivisionName"
                        id="subdivisionName"
                        formControlName="subdivisionId"
                        autocomplete="off"
                        class="form-select"
                        [ngClass]="{ invalidInput: isControlHasErrors('subdivisionId') }"
                        required
                      >
                        <option [ngValue]="null" disabled>
                          {{ "SUBDIVISION.SEL_SUBDIV" | translate }}
                        </option>
                        <option
                          *ngFor="let subdivision of selectedSubDivisoin"
                          [ngValue]="subdivision.id"
                        >
                          <span *ngIf="language == 'hi'"> {{ subdivision.nameHi }}</span>
                          <span *ngIf="language == 'en'"> {{ subdivision.name }}</span>
                        </option>
                      </select>
                    </div>
                  </div>
                  <div
                    *ngIf="isControlHasError('subdivisionId', 'required')"
                    class="invalid"
                  >
                    <strong>subdivision is required</strong>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row mb-2">
                    <label for="circleName" class="col-3 col-form-label"
                      >{{ "CIRCLE_INSPECTOR.SEC_CI_NAME" | translate }} (English)</label
                    >
                    <div class="col-8">
                      <input
                        type="text"
                        id="circleName"
                        name="circleName"
                        (keypress)="validAplpha($event)"
                        placeholder="{{
                          'CIRCLE_INSPECTOR.ENTER_SEC_CI_NAME' | translate
                        }}"
                        formControlName="circleName"
                        autocomplete="off"
                        class="form-control"
                        [ngClass]="{
                          invalidInput: isControlHasErrors('circleName')
                        }"
                        required
                      />
                    </div>

                    <div
                      *ngIf="isControlHasError('circleName', 'required')"
                      class="invalid"
                    >
                      <strong>Circle Name is required</strong>
                    </div>
                    <div
                      *ngIf="isControlHasError('circleName', 'minlength')"
                      class="invalid"
                    >
                      <strong>Minimum 3 character required</strong>
                    </div>
                    <div
                      *ngIf="isControlHasError('circleName', 'maxlength')"
                      class="invalid"
                    >
                      <strong>Max length allowed 320</strong>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row mb-2">
                    <label for="circleNameHi" class="col-3 col-form-label"
                      >{{ "CIRCLE_INSPECTOR.SEC_CI_NAME" | translate }} (Hindi)</label
                    >
                    <div class="col-8">
                      <input
                        type="text"
                        id="circleNameHi"
                        name="circleNameHi"
                        (keypress)="validAplpha($event)"
                        placeholder="{{
                          'CIRCLE_INSPECTOR.ENTER_SEC_CI_NAME' | translate
                        }}"
                        formControlName="circleNameHi"
                        autocomplete="off"
                        class="form-control hindi hindiFont"
                        [ngClass]="{
                          invalidInput: isControlHasErrors('circleNameHi')
                        }"
                        (change)="focusOut($event, 'circleNameHi')"
                        (focusout)="focusOut($event, 'circleNameHi')"
                        required
                      />
                    </div>

                    <div
                      *ngIf="isControlHasError('circleNameHi', 'required')"
                      class="invalid"
                    >
                      <strong>Circle Name is required</strong>
                    </div>
                  </div>
                </div>
<!-- 
                <div class="col-6">
                  <div class="row mb-2">
                    <label for="circleOfficerName" class="col-3 col-form-label"
                      >{{ "POLICE_OFFICER.OFFICER_NAME" | translate }} (English)</label
                    >
                    <div class="col-8">
                      <input
                        type="text"
                        id="circleOfficerName"
                        name="circleOfficerName"
                        (keypress)="validAplpha($event)"
                        placeholder="{{ 'POLICE_OFFICER.ENT_OFFICER_NAME' | translate }}"
                        formControlName="circleOfficerName"
                        autocomplete="off"
                        class="form-control"
                        [ngClass]="{
                          invalidInput: isControlHasErrors('circleOfficerName')
                        }"
                        required
                      />
                    </div>

                    <div
                      *ngIf="isControlHasError('circleOfficerName', 'required')"
                      class="invalid"
                    >
                      <strong>Officer Name is required</strong>
                    </div>
                    <div
                      *ngIf="isControlHasError('circleOfficerName', 'minlength')"
                      class="invalid"
                    >
                      <strong>Minimum 3 character required</strong>
                    </div>
                    <div
                      *ngIf="isControlHasError('circleOfficerName', 'maxlength')"
                      class="invalid"
                    >
                      <strong>Max length allowed 320</strong>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row mb-2">
                    <label for="circleOfficerNameHi" class="col-3 col-form-label"
                      >{{ "POLICE_OFFICER.OFFICER_NAME" | translate }} (Hindi)</label
                    >
                    <div class="col-8">
                      <input
                        type="text"
                        id="circleOfficerNameHi"
                        name="circleOfficerNameHi"
                        (keypress)="validAplpha($event)"
                        placeholder="{{ 'POLICE_OFFICER.ENT_OFFICER_NAME' | translate }}"
                        formControlName="circleOfficerNameHi"
                        autocomplete="off"
                        class="form-control hindi hindiFont"
                        [ngClass]="{
                          invalidInput: isControlHasErrors('circleOfficerNameHi')
                        }"
                        (change)="focusOut($event, 'circleOfficerNameHi')"
                        (focusout)="focusOut($event, 'circleOfficerNameHi')"
                        required
                      />
                    </div>

                    <div
                      *ngIf="isControlHasError('circleOfficerNameHi', 'required')"
                      class="invalid"
                    >
                      <strong>Officer Name is required</strong>
                    </div>
                  </div>
                </div>


                <div class="col-6">
                  <div class="row mb-2">
                    <label for="joiningDate" class="col-3 col-form-label">{{
                      "DSP.JOIN_DATE" | translate
                    }}</label>
                    <div class="col-8">
                      <input
                        type="date"
                        id="joiningDate"
                        name="joiningDate"
                        (keypress)="validAplpha($event)"
                        max="{{ max | date: 'yyyy-MM-dd' }}"
                        formControlName="joiningDate"
                        autocomplete="off"
                        class="form-control"
                        [ngClass]="{ invalidInput: isControlHasErrors('joiningDate') }"
                        required
                      />
                    </div>

                    <div
                      *ngIf="isControlHasError('joiningDate', 'required')"
                      class="invalid"
                    >
                      <strong>Joining Date is required</strong>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row mb-2">
                    <label for="circleEmail" class="col-3 col-form-label">{{
                      "CIRCLE_INSPECTOR.SEC_CI_EMAIL" | translate
                    }}</label>
                    <div class="col-8">
                      <input
                        type="text"
                        id="circleEmail"
                        name="circleEmail"
                        placeholder="{{
                          'CIRCLE_INSPECTOR.ENTER_SEC_CI_EMAIL' | translate
                        }}"
                        formControlName="circleEmail"
                        autocomplete="off"
                        class="form-control"
                        [ngClass]="{ invalidInput: isControlHasErrors('circleEmail') }"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row mb-2">
                    <label for="circleImageSource" class="col-3 col-form-label">{{
                      "FORMS.ATTACH_FILE" | translate
                    }}</label>
                    <div class="col-8">
                      <input
                        type="file"
                        id="circleImageSource"
                        name="circleImageSource"
                        (change)="handleFileChange($event.target.files)"
                        formControlName="circleImageSource"
                        autocomplete="off"
                        class="form-control"
                        [ngClass]="{
                          invalidInput: isControlHasErrors('circleImageSource')
                        }"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row mb-2">
                    <label for="circleMobile" class="col-3 col-form-label">{{
                      "SECTIONS.SEC_OFFICER_MOBILE" | translate
                    }}</label>
                    <div class="col-8">
                      <input
                        type="text"
                        id="circleMobile"
                        maxlength="10"
                        name="circleMobile"
                        (keypress)="numberOnly($event)"
                        placeholder="{{
                          'SECTIONS.ENTER_SEC_OFFICER_MOBILE' | translate
                        }}"
                        formControlName="circleMobile"
                        autocomplete="off"
                        class="form-control"
                        [ngClass]="{ invalidInput: isControlHasErrors('circleMobile') }"
                        required
                      />
                    </div>
                    <div
                      *ngIf="isControlHasError('circleMobile', 'required')"
                      class="invalid"
                    >
                      <strong>Mobile Number is required</strong>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row mb-2">
                    <label for="circleContact" class="col-3 col-form-label">{{
                      "SECTIONS.SEC_OFFICER_MOBILE" | translate
                    }}</label>
                    <div class="col-8">
                      <input
                        type="text"
                        id="circleContact"
                        name="circleContact"
                        maxlength="12"
                        (keypress)="numberOnly($event)"
                        placeholder="{{
                          'SECTIONS.ENTER_SEC_OFFICER_CONTACT' | translate
                        }}"
                        formControlName="circleContact"
                        autocomplete="off"
                        class="form-control"
                        [ngClass]="{ invalidInput: isControlHasErrors('circleContact') }"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row mb-2">
                    <label for="designationName" class="col-3 col-form-label">{{
                      "HELPLINE.DESIGNATION" | translate
                    }}</label>
                    <div class="col-8">
                      <select
                        name="designationName"
                        id="designationName"
                        formControlName="designationId"
                        autocomplete="off"
                        class="form-select"
                        [ngClass]="{ invalidInput: isControlHasErrors('designationId') }"
                        required
                      >
                        <option value="null" disabled>Select Designation</option>
                        <option
                          *ngFor="let designation of designationList"
                          value="{{ designation.id }}"
                        >
                          <span *ngIf="language == 'en'">{{
                            designation.designationName
                          }}</span>
                          <span *ngIf="language == 'hi'">{{
                            designation.designationNameHi
                          }}</span>
                        </option>
                      </select>
                    </div>
                    <div
                      *ngIf="isControlHasError('designationId', 'required')"
                      class="invalid"
                    >
                      <strong>Designation is required</strong>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row mb-2">
                    <label for="priority" class="col-3 col-form-label">{{
                      "FORMS.PRIORITY" | translate
                    }}</label>
                    <div class="col-8">
                      <input
                        type="number"
                        id="priority"
                        name="priority"
                        min="1"
                        (keypress)="numberOnly($event)"
                        placeholder="{{ 'FORMS.ENTER_PRIORITY' | translate }}"
                        formControlName="priority"
                        autocomplete="off"
                        class="form-control"
                        [ngClass]="{ invalidInput: isControlHasErrors('priority') }"
                        required
                      />
                    </div>
                    <div
                      *ngIf="isControlHasError('priority', 'required')"
                      class="invalid"
                    >
                      <strong>Priority is required</strong>
                    </div>
                    <div
                      *ngIf="isControlHasError('priority', 'minlength')"
                      class="invalid"
                    >
                      <strong>Priority Minimum length is 1</strong>
                    </div>
                  </div>
                </div> -->
                
              </div>
              <div
                class="
                  form-group
                  d-flex
                  flex-wrap
                  justify-content-center
                  align-items-center
                "
              >
                <button
                  id="circle_submit"
                  (click)="submit()"
                  class="btn btn-primary px-9 py-9"
                  [disabled]="loading"
                  *ngIf="ADD_CIRCLE_INSPECTOR && ADD_URL && !CIRCLE_INSPECTOR_PARAMS.ID"
                >
                  Save
                  <div
                    class="spinner-border spinner-border-sm text-light align-middle"
                    *ngIf="loading"
                    role="status"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                </button>
                <button
                  id="circle_submit"
                  (click)="submit()"
                  class="btn btn-primary px-9 py-9"
                  [disabled]="loading"
                  *ngIf="EDIT_CIRCLE_INSPECTOR && EDIT_URL && CIRCLE_INSPECTOR_PARAMS.ID"
                >
                  Save
                  <div
                    class="spinner-border spinner-border-sm text-light align-middle"
                    *ngIf="loading"
                    role="status"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
