
// $primary-color: #268aed;
// $top-bar: #f10101;
// $active-menu: #268aed;
// $active-menu-hover: #268aed;

// $title-bar: #204d74;
// $page-title: #268aed;

// $service-menu: #268aed;
// $service-menu-hover: #268aed;
// $service-sidebar: #172646;

// $footer: #268aed;
// $super-footer: #000000;

// $news-sidebar: #268aed;

// $black: #000000;
// $white: #ffffff;

// $botton: #185784;
// $botton-hover: #03a9d5;




$super-header-color: #031b2e;
  $primary-color: #031b2e;
  $top-bar: #f10101;
  $active-menu: #031b2e;
  $active-menu-hover: #0c2d49;

  $title-bar: #6a1b03;
  $page-title: #031b2e;

  $service-menu: #5c2211;
  $service-menu-hover: #3db7ef;
  $service-sidebar: #172646;

  $footer: #031b2e;
  $super-footer: #000000;

  $news-sidebar: #5fb611;

  $black: #000000;
  $white: #ffffff;

  $botton: #262809;
  $botton-hover: #31330e;

  $header-color: #f5f5f5;
  $header-text-color: #000000;

