.table-wrapper {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  overflow-x: auto;
}

.search-box {
  width: 53px;
  margin-left: auto;
}

.table-container {
  overflow-x: auto;
}

.mat-header-cell, .mat-cell {
  white-space: nowrap;
  padding: 10px 16px;
}

::ng-deep .mat-form-field-infix {
  padding: 0 !important;
}

select.form-select {
  height: 30px;
  font-size: 13px;
  padding: 2px 6px;
}


.mat-form-field {
  margin-right: 16px;
}

mat-form-field {
  white-space: nowrap;
  overflow: hidden;
}

.mat-paginator-page-size {
  display: none !important;
}

mat-card {
  padding: 24px; // Spacing inside the card
  border: 27px solid #ccc; // Light gray border
  border-radius: 12px; // Rounded corners
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); // Optional subtle shadow
}
