<div class="our-team">
  <div class="dashboard-header">
    {{ "BEST_OUR_TEAM.BEST_OUR_TEAM_TITLE" | translate }}
  </div>
  <div class="button-panel">
    <a routerLink="{{ permissions.add_url }}" class="btn btn-success m-2"
      *ngIf="permissions.add && permissions.add_url">Add Best Employee</a>
  </div>

  <div style="padding: 20px">
    <app-table-data [rows]="rows" [page]="page" [columns]="columns" [path]="path" [permissions]="permissions"
      [filterOptions]="filterOptions" [isApiAvailable]="false">
    </app-table-data>
  </div>
</div>