.badge {
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: rgb(0, 0, 0); 
}

.badge-success {
  background-color: #98f8ae; 
}

.badge-danger {
  background-color: #fc9ca6; 
}


