$primary-color: #3ab795;
$top-bar: #f10101;
$active-menu: #3ab795;
$active-menu-hover: #3ab795;

$title-bar: #275407;
$page-title: #275407;

$service-menu: #3ab795;
$service-menu-hover: #3ab795;
$service-sidebar: #172646;

$footer: #3ab795;
$super-footer: #000000;

$news-sidebar: #eb688f;

$black: #000000;
$white: #ffffff;

$botton: #eb688f;
$botton-hover: #3ab795;
