<div class="places-edit">
  <div class="dashboard-header">
    {{ "IMP_PLACES.IMP_PLACES_TITLE" | translate }}
  </div>
  <button
    class="btn btn-sm back-btn"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    "
    (click)="goBack()"
  >
    &#215;
  </button>
</div>

<div class="places-form">
  <form
    class="form needs-validation text-center container"
    novalidate
    [formGroup]="importantPlacesForm"
    autocomplete="off"
    novalidate="novalidate"
    id="importantPlacesForm"
  >
    <input id="id" name="id" formControlName="id" style="display: none" />
    <div class="row mb-2">
      <div class="col-sm-12 col-md-6">
        <div class="row mb-2">
          <div class="col-4">
            <label for="locationName" class="col-form-label"
              >{{ "LOCATION.LOCATION_NAME" | translate }}:
            </label>
          </div>
          <div class="col-8">
            <input
              *ngIf="language == 'hi'"
              type="text"
              id="locationName"
              name="locationName"
              (keypress)="validAplpha($event)"
              placeholder="{{ 'LOCATION.ENTR_LOCATION_NAME' | translate }}"
              formControlName="locationName"
              autocomplete="off"
              class="form-control hindi hindiFont"
              [ngClass]="{
                invalidInput: isControlHasErrors('locationName')
              }"
              (change)="focusOut($event, 'locationName')"
              (focusout)="focusOut($event, 'locationName')"
              required
            />
            <input
              *ngIf="language == 'en'"
              type="text"
              id="locationName"
              name="locationName"
              (keypress)="validAplpha($event)"
              placeholder="{{ 'LOCATION.ENTR_LOCATION_NAME' | translate }}"
              formControlName="locationName"
              autocomplete="off"
              class="form-control"
              [ngClass]="{
                invalidInput: isControlHasErrors('locationName')
              }"
              (change)="focusOut($event, 'locationName')"
              (focusout)="focusOut($event, 'locationName')"
              required
            />
          </div>
        </div>
        <div
          *ngIf="isControlHasError('locationName', 'required')"
          class="invalid"
        >
          <strong>Location Name is required</strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row mb-2">
          <div class="col-4">
            <label for="locationDiscription" class="col-form-label"
              >{{ "LOCATION.LOCATION_DETAILS" | translate }}:
            </label>
          </div>
          <div class="col-8">
            <input
              *ngIf="language == 'hi'"
              type="text"
              id="locationDiscription"
              name="locationDiscription"
              placeholder="{{ 'LOCATION.LOCATION_DETAILS' | translate }}"
              formControlName="locationDiscription"
              autocomplete="off"
              class="form-control hindi hindiFont"
              [ngClass]="{
                invalidInput: isControlHasErrors('locationDiscription')
              }"
              (change)="focusOut($event, 'locationDiscription')"
              (focusout)="focusOut($event, 'locationDiscription')"
              required
            />
            <input
              *ngIf="language == 'en'"
              type="text"
              id="locationDiscription"
              name="locationDiscription"
              placeholder="{{ 'LOCATION.LOCATION_DETAILS' | translate }}"
              formControlName="locationDiscription"
              autocomplete="off"
              class="form-control"
              [ngClass]="{
                invalidInput: isControlHasErrors('locationDiscription')
              }"
              (change)="focusOut($event, 'locationDiscription')"
              (focusout)="focusOut($event, 'locationDiscription')"
              required
            />
          </div>
        </div>
        <div
          *ngIf="isControlHasError('locationDiscription', 'required')"
          class="invalid"
        >
          <strong>Location Discription is required</strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row mb-2">
          <div class="col-4">
            <label for="locationImage" class="col-form-label">{{
              "FORMS.ATTACH_FILE" | translate
            }}</label>
          </div>
          <div class="col-8">
            <input
              type="file"
              id="locationImage"
              name="locationImage"
              placeholder="Attach File"
              accept="image/jpg,image/gif,image/jpeg"
              (change)="handleFileChange($event.target.files)"
              formControlName="locationImage"
              autocomplete="off"
              class="form-control"
              [ngClass]="{ invalidInput: isControlHasErrors('locationImage') }"
            />
          </div>
          <div
            *ngIf="isControlHasError('locationImage', 'required')"
            class="invalid"
          >
            <strong>Location Image is required</strong>
          </div>
        </div>
      </div>
    </div>

    <div
      class="
        form-group
        d-flex
        flex-wrap
        justify-content-center
        align-items-center
      "
    >
      <button
        id="importantPlaces_submit"
        (click)="submit()"
        class="btn btn-primary px-9 py-9"
        [disabled]="loading"
        *ngIf="ADD_IMPORTANT_PLACES && ADD_URL && !IMPORTANT_PLACES_PARAMS.ID"
      >
        Save
        <div
          class="spinner-border spinner-border-sm text-light align-middle"
          *ngIf="loading"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>
      <button
        id="importantPlaces_submit"
        (click)="submit()"
        class="btn btn-primary px-9 py-9"
        [disabled]="loading"
        *ngIf="EDIT_IMPORTANT_PLACES && EDIT_URL && IMPORTANT_PLACES_PARAMS.ID"
      >
        Save
        <div
          class="spinner-border spinner-border-sm text-light align-middle"
          *ngIf="loading"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </form>
</div>
