<div class="forgot-password-container">
  <div class="container">
    <div class="row d-flex justify-content-center align-content-center align-items-center">
      <div class="col-sm-12 col-md-7 col-lg-5 col-lx-4">
        <div class="forgot-password">
          <div class="title">
            <h3>Forgot Password</h3>
          </div>
          <div class="sub-title text-muted">
            <h6>
              Please provide your email id for reset password. Email will be
              send on given email id.
            </h6>
          </div>
          <div class="forgot-password-form">
            <form class="form needs-validation text-center" novalidate [formGroup]="forgotPasswordForm"
              autocomplete="off" novalidate="novalidate" id="login_form">
              <div class="form-group">
                <!-- <label for="email">Email</label> -->
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text svg svg-primary" style=" padding: 10px !important;"
                      [ngClass]="{ 'svg-danger': isControlHasErrors('email') }">
                      <i class="fi fi-at primaryIcon" [ngClass]="{
                          errorIcon: isControlHasErrors('email')
                        }"></i>
                    </span>
                  </div>
                  <input type="email" id="email" name="email" placeholder="Email" formControlName="email"
                    autocomplete="off" class="form-control" [ngClass]="{ invalidInput: isControlHasErrors('email') }"
                    required />
                </div>
                <div *ngIf="isControlHasError('email', 'required')" class="invalid">
                  <strong>Email is required</strong>
                </div>
                <div *ngIf="isControlHasError('email', 'email')" class="invalid">
                  <strong>Enter valid email id</strong>
                </div>
                <div *ngIf="isControlHasError('email', 'minlength')" class="invalid">
                  <strong>Minimum 3 character required</strong>
                </div>
                <div *ngIf="isControlHasError('email', 'maxlength')" class="invalid">
                  <strong>Max length allowed 320</strong>
                </div>
              </div>
              <button  style="margin: 10px;" id="forgot_password_submit" (click)="submit()" class="btn btn-primary px-9 py-9">
                Submit
                <div class="spinner-border spinner-border-sm text-light align-middle" *ngIf="loading" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </form>
            <div class="d-flex justify-content-center align-items-center p-2">
              <h6 class="text-muted p-1 m-0">Go Back to</h6>
              <a href="javascript:;" routerLink="/official/login" class="text-dark-50 text-hover-primary p-0"
                id="login_forgot">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>