.default .home-page {
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.default .home-page .home-services .header-titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.default .home-page .home-services .header-titles .main-link {
  width: 33%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
  font-style: oblique;
  text-decoration: none;
  margin: 10px;
  background-color: #d8d8d8;
  transition: height 0.5s;
  transition: width 0.5s;
  transition: border-radius 1s, background-color 1s, transform 1s;
}
.default .home-page .home-services .header-titles .main-link .main-link-inner {
  width: 100%;
  height: 100%;
  transform: translate(-6px, -6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  transition: height 0.5s;
  transition: width 0.5s;
  transition: border-radius 1s, background-color 1s, transform 1s;
}
.default .home-page .home-services .header-titles .main-link .main-link-inner .icon-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.default .home-page .home-services .header-titles .main-link .main-link-inner .icon-title .main-icons {
  font-size: 70px;
}
.default .home-page .home-services .header-titles .main-link .main-link-inner .icon-title span {
  width: auto;
}
.default .home-page .home-services .header-titles .main-link .main-link-inner .discription {
  display: none;
  font-size: 14px;
  font-weight: lighter;
}
.default .home-page .home-services .header-titles .main-link:hover {
  transition: border-radius 1s, background-color 1s, transform 1s;
}
.default .home-page .home-services .header-titles .main-link:hover .main-link-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0%;
  background-color: #031b2e;
  color: #fff;
  transform: translate(0, 0);
  transition: border-radius 1s, background-color 1s, transform 1s;
}
.default .home-page .home-services .header-titles .main-link:hover .main-link-inner .icon-title {
  flex-direction: row;
}
.default .home-page .home-services .header-titles .main-link:hover .main-link-inner .icon-title span {
  font-size: 14px !important;
}
.default .home-page .home-services .header-titles .main-link:hover .main-link-inner .icon-title i {
  font-size: 28px !important;
}
.default .home-page .home-services .header-titles .main-link:hover .main-link-inner .discription {
  line-height: 1;
  font-size: 16px;
  display: block;
}
.default .home-page .home-Links .imp-links {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #031b2e;
}
.default .home-page .home-Links .imp-links a {
  width: 100%;
  height: auto;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
}
.default .home-page .home-Links .color-font {
  color: #031b2e !important;
}
@media screen and (min-width: 1440px) {
  .default .home-page {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .default .home-page .home-services {
    width: 100%;
  }
  .default .home-page .home-services .header-titles .main-link {
    width: 30%;
  }
  .default .home-page .home-Links {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2000px) {
  .default .home-page {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .default .home-page .home-services {
    width: 100%;
  }
  .default .home-page .home-services .header-titles .main-link {
    width: 30%;
  }
  .default .home-page .home-Links {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .default .home-page {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .default .home-page .home-services {
    width: 100%;
  }
  .default .home-page .home-services .header-titles .main-link {
    width: 30%;
  }
  .default .home-page .home-Links {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .default .home-page {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .default .home-page .home-services {
    width: 100%;
  }
  .default .home-page .home-services .header-titles .main-link {
    width: 45%;
  }
  .default .home-page .home-Links {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .default .home-page {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .default .home-page .home-services {
    width: 100%;
  }
  .default .home-page .home-services .header-titles .main-link {
    width: 100%;
  }
  .default .home-page .home-Links {
    width: 100%;
  }
}
.default .image-container {
  display: flex;
}
.default .image-container * {
  width: 200px;
  height: 140px;
  padding: 0 5px;
}
.default .marquee-wrapper {
  text-align: center;
}
.default .marquee-wrapper .container {
  overflow: hidden;
}
.default .marquee-inner {
  display: flex !important;
}
.default .marquee-inner span {
  display: flex;
  float: left;
  width: auto !important;
}
.default .marquee-wrapper .marquee-block {
  --total-marquee-items: 5;
  height: 150px;
  width: calc(250px * (var(--total-marquee-items)));
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.default .marquee-inner {
  display: block;
  width: 200%;
  position: absolute;
}
.default .marquee-inner.to-left {
  animation: marqueeLeft 15s linear infinite;
}
.default .marquee-item {
  width: 200px;
  height: 140px;
  display: inline-block;
  margin: 0 10px;
  float: left;
  transition: all 0.2s ease-out;
}
@keyframes marqueeLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marqueeRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.default .marquee-inner.to-left:hover {
  animation-play-state: paused;
}

.style3 .home-page {
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.style3 .home-page .home-services {
  width: 100%;
  height: 100%;
}
.style3 .home-page .home-services .header-titles {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.style3 .home-page .home-services .header-titles .main-link {
  width: 33%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  margin: 10px;
}
.style3 .home-page .home-services .header-titles .main-link .main-link-inner {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #031b2e;
  color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.style3 .home-page .home-services .header-titles .main-link .main-link-inner .icon-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.style3 .home-page .home-services .header-titles .main-link .main-link-inner .icon-title .main-icons {
  font-size: 70px;
}
.style3 .home-page .home-services .header-titles .main-link .main-link-inner .icon-title span {
  width: auto;
}
.style3 .home-page .home-services .header-titles .main-link .main-link-inner .discription {
  display: none;
  font-size: 14px;
  font-weight: lighter;
}
.style3 .home-page .home-Links .imp-links {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #031b2e;
}
.style3 .home-page .home-Links .imp-links a {
  width: 100%;
  height: auto;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
}
.style3 .home-page .home-Links .color-font {
  color: #031b2e !important;
}
@media screen and (min-width: 1440px) {
  .style3 .home-page {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .style3 .home-page .home-services {
    width: 100%;
  }
  .style3 .home-page .home-services .header-titles .main-link {
    width: 30%;
  }
  .style3 .home-page .home-Links {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2000px) {
  .style3 .home-page {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .style3 .home-page .home-services {
    width: 100%;
  }
  .style3 .home-page .home-services .header-titles .main-link {
    width: 30%;
  }
  .style3 .home-page .home-Links {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .style3 .home-page {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .style3 .home-page .home-services {
    width: 100%;
  }
  .style3 .home-page .home-services .header-titles .main-link {
    width: 30%;
  }
  .style3 .home-page .home-Links {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .style3 .home-page {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .style3 .home-page .home-services {
    width: 100%;
  }
  .style3 .home-page .home-services .header-titles .main-link {
    width: 45%;
  }
  .style3 .home-page .home-Links {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .style3 .home-page {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .style3 .home-page .home-services {
    width: 100%;
  }
  .style3 .home-page .home-services .header-titles .main-link {
    width: 100%;
  }
  .style3 .home-page .home-Links {
    width: 100%;
  }
}
.style3 .image-container {
  display: flex;
}
.style3 .image-container * {
  width: 200px;
  height: 140px;
  padding: 0 5px;
}
.style3 .marquee-wrapper {
  text-align: center;
}
.style3 .marquee-wrapper .container {
  overflow: hidden;
}
.style3 .marquee-inner {
  display: flex !important;
}
.style3 .marquee-inner span {
  display: flex;
  float: left;
  width: auto !important;
}
.style3 .marquee-wrapper .marquee-block {
  --total-marquee-items: 5;
  height: 150px;
  width: calc(250px * (var(--total-marquee-items)));
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.style3 .marquee-inner {
  display: block;
  width: 200%;
  position: absolute;
}
.style3 .marquee-inner.to-left {
  animation: marqueeLeft 15s linear infinite;
}
.style3 .marquee-item {
  width: 200px;
  height: 140px;
  display: inline-block;
  margin: 0 10px;
  float: left;
  transition: all 0.2s ease-out;
}
@keyframes marqueeLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marqueeRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.style3 .marquee-inner.to-left:hover {
  animation-play-state: paused;
}
.style3 .sub-header-title {
  width: 100%;
  padding: 10px;
  font-size: 24px !important;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.style3 .sub-header-title .header-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6a1b03;
  padding: 0.75rem 1rem !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 88%;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0px rgba(0, 0, 0, 0.19);
}

.twitter {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .twitter {
    width: 50%;
  }
}
.blink {
  color: red;
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=home.component.css.map */