<div class="card m-3">
  <div class="card-header h5 text-white bg-secondary">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <span>{{
          "POLICE_OFFICER.POLICE_OFF_DETAILS_DETAILS" | translate
        }}</span>
      </div>
    </div>
  </div>
  <div class="card-body d-flex justify-content-between aling-item-center">
    <div class="container-fluid">
      <div class="row">
        <app-table-data
          [rows]="stationUserRows"
          [page]="stationUserPage"
          [columns]="stationUserColumns"
          [path]="stationUserPath"
          [permissions]="stationUserPermissions"
          [filterOptions]="filterOptions"
          [isApiAvailable]="false"
        >
        </app-table-data>
      </div>
    </div>
  </div>
</div>
