.back-btn {
  button {
    width: 100%;
    padding: 5px;
    background-color: rgb(4, 84, 175);
    color: bisque;
  }
  width: 10%;
  height: auto;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stn-name {
  margin-left: 160px;

  .underline {
    padding-bottom: 10px;
    background-image: linear-gradient(120deg, #8fd3f4 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 3em 0.2em;
    background-position: 45% 100%;
    transition: background-size 0.25s ease-in;
    &:hover {
      background-size: 3em 0.2em;
    }
  }
}

.sho-area {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: flex;

  .container {
    margin: auto;
    position: relative;

    .card {
      width: 25%;
      margin: 5px;
      min-height: 320px;
      max-height: 320px !important;
      float: left;
      padding: 0px 10px;
      .box {
        padding: 10px;
        height: 100%;
        margin: 0 0 10px;
        text-align: center;

        .team-img {
          width: 100%;
          display: flex;
          justify-content: center;
          min-height: 170px;
          max-height: 170px;
        }
        .officer-name {
          padding-top: 5px;
          font-size: 17px;
          font-weight: 500;
          text-align: center;
        }
        .officer-about {
          text-align: center;
          max-height: 60px;
          overflow: hidden;
        }
      }
    }
  }
}


.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1440px) and (max-width: 2000px) {
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sho-area {
    width: 100%;
    height: auto;

    .container {
      margin: auto;
      position: relative;

      .card {
        width: 30%;
        margin: 5px !important;

        .team-img {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .back-btn {
    width: 100%;
    padding-right: 10px;
    button {
      width: 100%;
      margin: 5px;
    }
  }
  .stn-name {
    margin-left: 0px !important;
  }

  .sho-area {
    width: 100%;
    height: auto;

    .container {
      margin: auto;
      position: relative;

      .card {
        width: 100%;
        margin: 5px 0px !important;

        .team-img {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.table-sec {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: flex;

  .btn:active,
  .btn:focus,
  .btn.active {
    background-image: none;
    outline: 0;
    box-shadow: none;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }
}
