
// $primary-color: #031b2e;
// $top-bar: #f10101;
// $active-menu: #031b2e;
// $active-menu-hover: #031b2e;

// $title-bar: #f64b00;
// $page-title: #031b2e;

// $service-menu: #031b2e;
// $service-menu-hover: #031b2e;
// $service-sidebar: #172646;

// $footer: #031b2e;
// $super-footer: #000000;

// $news-sidebar: #031b2e;

// $black: #000000;
// $white: #ffffff;

// $botton: #5c727e;
// $botton-hover: #344a55;

$primary-color: #221969;
$top-bar: #f10101;
$active-menu: #185784;
$active-menu-hover: #221969;

$title-bar: #3db7ef;
$page-title: #185784;

$service-menu: #221969;
$service-menu-hover: #3db7ef;
$service-sidebar: #172646;

$footer: #07195d;
$super-footer: #1e1e1e;

$news-sidebar: #5fb611;

$black: #000000;
$white: #ffffff;

$botton: #185784;
$botton-hover: #03a9d5;


