<div class="menu-edit">
  <div class="dashboard-header">Menu Details</div>
  <button
    class="btn btn-sm back-btn"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    "
    (click)="goBack()"
  >
    &#215;
  </button>
</div>
<div class="menu-form">
  <form
    class="form needs-validation text-center container"
    novalidate
    [formGroup]="menuForm"
    autocomplete="off"
    novalidate="novalidate"
    id="menu_form"
  >
    <input id="id" name="id" formControlName="id" style="display: none" />
    <div class="row mb-2">
      <label for="name" class="col-3 col-form-label">Name</label>
      <div class="col-9">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter Menu Name"
          formControlName="menuName"
          (keypress)="validAplpha($event)"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ invalidInput: isControlHasErrors('menuName') }"
          required
        />
      </div>

      <div *ngIf="isControlHasError('menuName', 'required')" class="invalid">
        <strong> Menu Name is required</strong>
      </div>
      <div *ngIf="isControlHasError('menuName', 'minlength')" class="invalid">
        <strong>Minimum 3 character required</strong>
      </div>
      <div *ngIf="isControlHasError('menuName', 'maxlength')" class="invalid">
        <strong>Max length allowed 100</strong>
      </div>
    </div>
    <div class="row mb-2">
      <label for="menuNameHi" class="col-3 col-form-label">Name (Hi)</label>
      <div class="col-9">
        <input
          type="text"
          id="menuNameHi"
          name="menuNameHi"
          placeholder="Enter Menu Name (HI)"
          formControlName="menuNameHi"
          (keypress)="validAplpha($event)"
          autocomplete="off"
          class="form-control hindi hindiFont"
          [ngClass]="{
            invalidInput: isControlHasErrors('menuNameHi')
          }"
          (change)="focusOut($event, 'menuNameHi')"
          (focusout)="focusOut($event, 'menuNameHi')"
          required
        />
      </div>

      <div *ngIf="isControlHasError('menuNameHi', 'required')" class="invalid">
        <strong> Menu Name is required</strong>
      </div>
    </div>
    <div class="row mb-2">
      <label for="menuIcon" class="col-3 col-form-label">Menu Icon</label>
      <div class="col-9">
        <input
          type="text"
          id="menuIcon"
          name="menuIcon"
          placeholder="Enter Menu Icon"
          formControlName="menuIcon"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ invalidInput: isControlHasErrors('menuIcon') }"
        />
      </div>
    </div>
    <div class="row mb-2">
      <label for="menuUrl" class="col-3 col-form-label">URL</label>
      <div class="col-9">
        <input
          type="url"
          id="menuUrl"
          name="menuUrl"
          placeholder="Enter URL"
          formControlName="menuUrl"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ invalidInput: isControlHasErrors('menuUrl') }"
          required
        />
      </div>
      <div *ngIf="isControlHasError('menuUrl', 'required')" class="invalid">
        <strong>URL is required</strong>
      </div>
    </div>
    <div class="row mb-2">
      <label for="priority" class="col-3 col-form-label">Priority</label>
      <div class="col-9">
        <input
          type="number"
          id="priority"
          min="1"
          (keypress)="numberOnly($event)"
          name="priority"
          placeholder="Enter Priority"
          formControlName="priority"
          autocomplete="off"
          class="form-control"
          required
        />
      </div>
      <div *ngIf="isControlHasError('priority', 'required')" class="invalid">
        <strong>Priority is required</strong>
      </div>
    </div>
    <div
      class="
        form-group
        d-flex
        flex-wrap
        justify-content-center
        align-items-center
      "
    >
      <button
        id="menu_submit"
        (click)="submit()"
        class="btn btn-primary px-9 py-9"
        [disabled]="loading"
        *ngIf="ADD_MENU && ADD_URL && !MENU_PARAMS.ID"
      >
        Add Menu
        <div
          class="spinner-border spinner-border-sm text-light align-middle"
          *ngIf="loading"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>
      <button
        id="menu_submit"
        (click)="submit()"
        class="btn btn-primary px-9 py-9"
        [disabled]="loading"
        *ngIf="EDIT_MENU && EDIT_URL && MENU_PARAMS.ID"
      >
        Edit Menu
        <div
          class="spinner-border spinner-border-sm text-light align-middle"
          *ngIf="loading"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </form>
</div>
