.press-edit {
  width: 100%;
  height: auto;
  background-color: dodgerblue;
  color: #ffffff;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .press-form {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
}
