$primary-color: #221969;
$top-bar: #f10101;
$active-menu: #185784;
$active-menu-hover: #221969;

$title-bar: #3db7ef;
$page-title: #185784;

$service-menu: #221969;
$service-menu-hover: #3db7ef;
$service-sidebar: #172646;

$footer: #07195d;
$super-footer: #1e1e1e;

$news-sidebar: #5fb611;

$black: #000000;
$white: #ffffff;

$botton: #185784;
$botton-hover: #03a9d5;
