<div class="sub-menu">
  <div class="dashboard-header">Sub Menu</div>
  <div class="button-panel">
    <a
      routerLink="{{ permissions.add_url }}"
      class="btn btn-success m-2"
      *ngIf="permissions.add && permissions.add_url"
      >Add SubMenu</a
    >
  </div>

  <div style="padding: 20px">
    <app-table-data
      [rows]="rows"
      [page]="page"
      [columns]="columns"
      [path]="path"
      [permissions]="permissions"
      [filterOptions]="filterOptions"
      [isApiAvailable]="false"
    ></app-table-data>
  </div>
</div>
