<div class="most-wanted">
    <div class="dashboard-header">
        {{ "MOST_WANTED.TITLE" | translate }}
    </div>
    <div class="button-panel">
        <a routerLink="{{ permissions.add_url }}" class="btn btn-success m-2"
            *ngIf="permissions.add && permissions.add_url">Add Most Wanted</a>
    </div>

    <div style="padding: 20px">
        <app-table-data [rows]="rows" [page]="page" [columns]="columns" [path]="path" [permissions]="permissions"
            [filterOptions]="filterOptions" [isApiAvailable]="false">
        </app-table-data>
    </div>
</div>