<!-- 
<div style="padding-bottom: 10px">
  <div class="header-title">
    <span class="glob-span header-txt">{{ "HOME.HOLYDAY" | translate }}</span>
  </div>


  <div class="container">
    <div>
      <h5 style="padding: 10px 0; font-weight: bold">
        {{ "HOLYDAY.TABLE_DATA" | translate }}
      </h5>
      <table class="table table-hover" style="width: 100%; margin: 0">
        <thead style="background-color: black">
          <tr>
            <th  style="width: 15%; color: white; padding: 15px">  {{ "HOLYDAY.SL_NO" | translate }}</th>
            <th  style="width: 15%; color: white; padding: 15px"> {{ "HOLYDAY.NAME" | translate }}</th>
            <th  style="width: 15%; color: white; padding: 15px">{{ "HOLYDAY.DATE" | translate }}</th>
            <th  style="width: 15%; color: white; padding: 15px">{{ "HOLYDAY.TYPE" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let holiday of holidays">
            <td>{{ holiday.srNo }}</td>
            <td>{{ holiday.name }}</td>
            <td>{{ holiday.date }}</td>
            <td>{{ holiday.type }}</td>
          </tr>
        </tbody>
      </table>

    </div>


  </div>
</div>
 -->
