<div class="image-edit">
  <div class="dashboard-header">
    {{ "IMAGE_GALLERY.IMAGE_DETAILS" | translate }}
  </div>
  <button
    class="btn btn-sm back-btn"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
    "
    (click)="goBack()"
  >
    &#215;
  </button>
</div>

<div class="image-form">
  <form
    class="form needs-validation text-center container"
    novalidate
    [formGroup]="imageGalleryForm"
    autocomplete="off"
    novalidate="novalidate"
    id="imageGallery_form"
  >
    <input id="id" name="id" formControlName="id" style="display: none" />
    <div class="row mb-2">
      <label for="title" class="col-3 col-form-label">{{
        "FORMS.TITLE" | translate
      }}</label>
      <div class="col-8">
        <input
          *ngIf="language == 'hi'"
          type="text"
          id="title"
          name="title"
          placeholder="{{ 'FORMS.ENTER_TITLE' | translate }}"
          formControlName="title"
          autocomplete="off"
          class="form-control hindi hindiFont"
          [ngClass]="{
            invalidInput: isControlHasErrors('title')
          }"
          (change)="focusOut($event, 'title')"
          (focusout)="focusOut($event, 'title')"
          required
        />
        <input
          *ngIf="language == 'en'"
          type="text"
          id="title"
          name="title"
          placeholder="{{ 'FORMS.ENTER_TITLE' | translate }}"
          formControlName="title"
          autocomplete="off"
          class="form-control"
          [ngClass]="{
            invalidInput: isControlHasErrors('title')
          }"
          (change)="focusOut($event, 'title')"
          (focusout)="focusOut($event, 'title')"
          required
        />
      </div>

      <div *ngIf="isControlHasError('title', 'required')" class="invalid">
        <strong>Title is required</strong>
      </div>
      <div *ngIf="isControlHasError('title', 'minlength')" class="invalid">
        <strong>Minimum 3 character required</strong>
      </div>
      <div *ngIf="isControlHasError('title', 'maxlength')" class="invalid">
        <strong>Max length allowed 320</strong>
      </div>
    </div>
    <div class="row mb-2">
      <label for="releasedBy" class="col-3 col-form-label">{{
        "IMAGE_GALLERY.EVENT_NAME" | translate
      }}</label>
      <div class="col-8">
        <select
          name="releasedBy"
          id="releasedBy"
          formControlName="releasedBy"
          autocomplete="off"
          class="form-select"
          [ngClass]="{ invalidInput: isControlHasErrors('releasedBy') }"
          required
        >
          <option value="null" disabled>
            {{ "PHOTO_GALLERY.EVENTS_NAME" | translate }}
          </option>
          <option *ngFor="let events of eventsList" value="{{ events.title }}">
            {{ events.title }}
          </option>
        </select>
        <div
          *ngIf="isControlHasError('releasedBy', 'required')"
          class="invalid"
        >
          <strong>Released By is required</strong>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="link" class="col-3 col-form-label">{{
        "FORMS.LINK" | translate
      }}</label>
      <div class="col-8">
        <input
          type="url"
          id="link"
          name="link"
          placeholder="{{ 'LINKS.ENTER_URL' | translate }}"
          formControlName="link"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ invalidInput: isControlHasErrors('link') }"
        />
      </div>
    </div>
    <span>OR</span>
    <div class="row mb-2">
      <label for="linkSource" class="col-3 col-form-label">{{
        "FORMS.ATTACH_FILE" | translate
      }}</label>
      <div class="col-8">
        <input
          type="file"
          id="linkSource"
          name="linkSource"
          placeholder="Attach File"
          accept="image/jpg,image/gif,image/jpeg"
          (change)="handleFileChange($event.target.files)"
          formControlName="linkSource"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ invalidInput: isControlHasErrors('linkSource') }"
        />
      </div>
    </div>

    <div class="row mb-2">
      <label for="priority" class="col-3 col-form-label">{{
        "FORMS.PRIORITY" | translate
      }}</label>
      <div class="col-8">
        <input
          type="number"
          id="priority"
          min="1"
          (keypress)="numberOnly($event)"
          name="priority"
          placeholder="{{ 'FORMS.ENTER_PRIORITY' | translate }}"
          formControlName="priority"
          autocomplete="off"
          class="form-control"
          [ngClass]="{ invalidInput: isControlHasErrors('priority') }"
          required
        />
      </div>
      <div *ngIf="isControlHasError('priority', 'required')" class="invalid">
        <strong>Priority is required</strong>
      </div>
      <div *ngIf="isControlHasError('priority', 'minlength')" class="invalid">
        <strong>Priority Minimum length is 1</strong>
      </div>
    </div>
    <div
      class="
        form-group
        d-flex
        flex-wrap
        justify-content-center
        align-items-center
      "
    >
      <button
        id="imageGallery_submit"
        (click)="submit()"
        class="btn btn-primary px-9 py-9"
        [disabled]="loading"
        *ngIf="ADD_IMAGE_GALLERY && ADD_URL && !IMAGE_GALLERY_PARAMS.ID"
      >
        Save
        <div
          class="spinner-border spinner-border-sm text-light align-middle"
          *ngIf="loading"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>
      <button
        id="imageGallery_submit"
        (click)="submit()"
        class="btn btn-primary px-9 py-9"
        [disabled]="loading"
        *ngIf="EDIT_IMAGE_GALLERY && EDIT_URL && IMAGE_GALLERY_PARAMS.ID"
      >
        Save
        <div
          class="spinner-border spinner-border-sm text-light align-middle"
          *ngIf="loading"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </form>
</div>
