<div class="headlines">
  <div class="dashboard-header">
    {{ "HEADLINES.HEADLINES_TITLE" | translate }}
  </div>
  <div class="button-panel">
    <a
      routerLink="{{ permissions.add_url }}"
      class="btn btn-success m-2"
      *ngIf="permissions.add && permissions.add_url"
      >Add Headlines</a
    >
  </div>

  <div style="padding: 20px">
    <app-table-data
      [rows]="rows"
      [page]="page"
      [columns]="columns"
      [path]="path"
      [permissions]="permissions"
      [isApiAvailable]="false"
    >
    </app-table-data>
  </div>
</div>
