<div class="viewContainer">
  <div class="card m-3 mt-0">
    <div
      class="card-body d-flex justify-content-between aling-item-center dashboard-header"
    >
      <h5>{{ "POLICE_DIARY.TITLE" | translate }}</h5>
      <i
        class="material-icons"
        style="font-weight: bold; cursor: pointer"
        (click)="goBack()"
        placement="bottom"
        ngbTooltip="Close"
        >close</i
      >
    </div>
  </div>

  <div class="card m-3">
    <div class="card-header h5 text-white bg-secondary">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <span>Police Diary Entry Details</span>
        </div>
      </div>
    </div>
    <div class="card-body d-flex justify-content-between aling-item-center">
      <div class="container">
        <div class="row p-3" style="font-size: 16px">
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span style="font-weight: 500">{{
                  "POLICE_DIARY.CR_NO" | translate
                }}</span>
              </div>
              <div class="col-8">{{ entry.crNo }}</div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span style="font-weight: 500">{{
                  "POLICE_DIARY.KAND_TITHI" | translate
                }}</span>
              </div>
              <div class="col-8">{{ entry.kandTithi }}</div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span style="font-weight: 500">{{
                  "POLICE_DIARY.DHARA" | translate
                }}</span>
              </div>
              <div class="col-8">{{ entry.dhara }}</div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span style="font-weight: 500">{{
                  "POLICE_DIARY.CRIME_LOCATION" | translate
                }}</span>
              </div>
              <div class="col-8">{{ entry.crimeLocation }}</div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span style="font-weight: 500">{{
                  "POLICE_DIARY.PERSONAL_DETAIL" | translate
                }}</span>
              </div>
              <div class="col-8">
                {{ entry.personDetails }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span style="font-weight: 500">{{
                  "POLICE_DIARY.OTHER_DETAIL" | translate
                }}</span>
              </div>
              <div class="col-8">{{ entry.otherDetails }}</div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span style="font-weight: 500"
                  >{{ "POLICE_DIARY.LOCATION" | translate }}:</span
                >
              </div>
              <div class="col-8">
                {{ entry.location }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span style="font-weight: 500">{{
                  "POLICE_DIARY.FILL_1" | translate
                }}</span>
              </div>
              <div class="col-8">{{ entry.fillOne }}</div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span style="font-weight: 500">{{
                  "POLICE_DIARY.FILL_2" | translate
                }}</span>
              </div>
              <div class="col-8">{{ entry.fillTwo }}</div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <span style="font-weight: 500">{{
                  "POLICE_DIARY.CREATED_DATE" | translate
                }}</span>
              </div>
              <div class="col-8">
                {{ entry.createdDate | date: "dd/MM/yyyy" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <app-change-status-form
    *ngIf="permissions.changeStatusForm && isComplete"
    [url]="changeStatusSubmitURL"
    [id]="changeStatusId"
    [changeStatusForModule]="changeStatusForModule"
    [moduleStatus]="characterModuleStatus"
  ></app-change-status-form> -->

  <!-- <app-assign-to-officer-form
    *ngIf="permissions.asssignToOfficer && isComplete && !isPending"
    [url]="assignToOfficerSubmitURL"
    [id]="changeStatusId"
    [assignForModule]="changeStatusModule"
  ></app-assign-to-officer-form> -->

  <!-- <app-change-status
    *ngIf="permissions.changeStatusList"
    [changeStatusPath]="changeStatusPath"
    [deleteButtonCode]="changeStatusDeleteCode"
    [deleteButtonUrl]="changeStatusDeleteUrl"
    [changeStatusModule]="changeStatusModule"
    [changeStatusId]="changeStatusId"
  ></app-change-status> -->

  <!-- <app-forward-to-destination-form
    *ngIf="permissions.forwardToDestination && isComplete && !isPending"
    [url]="forwatdToDestinationSubmitURL"
    [id]="changeStatusId"
  >
  </app-forward-to-destination-form> -->

  <!-- <app-forward-to-destination
    *ngIf="permissions.forwardToDestinationList"
    [forwardDestinationPath]="forwardDestinationPath"
    [deleteButtonCode]="forwardDestinationDeleteCode"
    [deleteButtonUrl]="forwardDestinationDeleteUrl"
    [forwardDestinationModule]="forwardDestinationModule"
    [forwardDestinationId]="forwardDestinationId"
  >
  </app-forward-to-destination> -->
</div>
