<div style="margin: 0 0 15px 0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-sm-4 col-md-3">Item Per page :</div>
          <div class="col-sm-4 col-md-3">
            <select name="itemCount" id="itemCount" (change)="changeItemSize($event.target.value)"
              class="form-control form-control-sm">
              <option *ngFor="let item of itemCounts" value="{{ item }}">
                {{ item }}
              </option>
            </select>
          </div>
          <div class="col-sm-4 col-md-3">Items</div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 d-flex flex-end">
        <!-- <button *ngIf="!isSummonUrl()" type="button" class="btn btn-success" style="margin-left: auto" (click)="export()">
          Export
        </button>
        <button *ngIf="isSummonUrl()" type="button" class="btn btn-success" style="margin-left: auto" (click)="exportCustomExcel()">
          Export
        </button> -->

        <button
          type="button"
          class="btn btn-dark"
          style="margin-left: auto"
          (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample"
          *ngIf="filterOptions && filterOptions.length > 0"
        >
          <i class="fas fa-search" style="margin-right: 5px"></i>
          Advanced Search
        </button>
        
        <button
          *ngIf="isCIDExcelURL()"
          type="button"
          class="btn btn-success"
          style="margin-left: 5px"
          (click)="export()"
        >
          <i class="bi bi-file-earmark-excel"></i> Export Excel
        </button>


        <!-- <button type="button" class="btn btn-success" style="margin-left: 10px" (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"
          *ngIf="filterOptions && filterOptions.length > 0">
          Filter
        </button> -->

      </div>

      <!-- <div class="col-sm-12 col-md-2 ms-auto">
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            hindi: langModule.language == 'hi'
          }"
          placeholder="Search"
          (keyup)="updateAllFilter($event)"
        />
      </div> -->
    </div>
    <div #collapse="ngbCollapse" style="margin-top: 5px" [(ngbCollapse)]="isCollapsed">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-6" *ngFor="let filter of filterOptions">
              <div class="row my-1">
                <label class="col-sm-12 col-md-6">
                  {{ filter.colName | translate }}:
                </label>
                <div class="col-sm-12 col-md-6">
                  <input *ngIf="filter.type == 'INPUT'" type="text" class="form-control hindi" [ngClass]="{
                      hindiFont: filter.translate && currentLang == 'hi'
                    }" placeholder="{{ filter.colPlaceHolder | translate }}"
                    (keyup)="updateFilter($event, filter.data)" />
                  <input *ngIf="filter.type == 'DATE'" type="date" class="form-control"
                    placeholder="{{ filter.colPlaceHolder | translate }}"
                    (change)="updateDateFilter($event, filter.data)" />

                  <select *ngIf="filter.type == 'SELECT'" class="form-control hindi" [ngClass]="{
                      hindiFont: filter.translate && currentLang == 'hi'
                    }" (change)="updateFilter($event, filter.data)">
                    <option [value]="opt.value" *ngFor="let opt of filter.options">
                      {{ opt.key | translate }}
                    </option>
                  </select>

                  <select name="filter" class="form-control hindi" (change)="updateDropDownFilter($event, filter.data)"
                    *ngIf="filter.type == 'STATUS'">
                    <option value="null">
                      {{ "ECOM_RECEIPT.SEL_STATUS" | translate }}
                    </option>
                    <option value="PENDING">PENDING</option>
                    <option value="ACCEPTED" *ngIf="filter.module == 'APPOINTMENT'">
                      ACCEPTED
                    </option>
                    <option value="CANCELED" *ngIf="filter.module == 'APPOINTMENT'">
                      CANCELED
                    </option>

                    <!-- Complaint -->
                    <option value="Complaint Assign" *ngIf="
                        filter.module == 'COMPLAINT' ||
                        filter.module == 'VISITORS' ||
                        filter.module == 'CITIZENREPORT' ||
                        filter.module == 'MISSINGPERSON' ||
                        filter.module == 'FOUNDPERSON' ||
                        filter.module == 'DEADPERSON' ||
                        filter.module == 'LEAVE'
                      ">
                      {{ "COMPLAINT.ASSIGNED" | translate }}
                    </option>
                    <option value="Complaint Rejected" *ngIf="
                        filter.module == 'COMPLAINT' ||
                        filter.module == 'VISITORS' ||
                        filter.module == 'CITIZENREPORT' ||
                        filter.module == 'MISSINGPERSON' ||
                        filter.module == 'FOUNDPERSON' ||
                        filter.module == 'DEADPERSON' ||
                        filter.module == 'LEAVE'
                      ">
                      {{ "COMPLAINT.REJECTED" | translate }}
                    </option>
                    <option value="Complaint Closed" *ngIf="
                        filter.module == 'COMPLAINT' ||
                        filter.module == 'VISITORS' ||
                        filter.module == 'CITIZENREPORT' ||
                        filter.module == 'MISSINGPERSON' ||
                        filter.module == 'FOUNDPERSON' ||
                        filter.module == 'DEADPERSON' ||
                        filter.module == 'LEAVE'
                      ">
                      {{ "COMPLAINT.CLOSED" | translate }}
                    </option>
                    <option value="Complaint Assigned to Officer" *ngIf="
                        filter.module == 'COMPLAINT' ||
                        filter.module == 'VISITORS' ||
                        filter.module == 'CITIZENREPORT' ||
                        filter.module == 'MISSINGPERSON' ||
                        filter.module == 'FOUNDPERSON' ||
                        filter.module == 'DEADPERSON' ||
                        filter.module == 'LEAVE'
                      ">
                      {{ "COMPLAINT.COPM_ASSIGNED" | translate }}
                    </option>
                    <!-- CHARAACTER -->
                    <option value="Character Assign" *ngIf="filter.module == 'CHARACTER'">
                      {{ "CHARACTER.ASSIGNED" | translate }}
                    </option>
                    <option value="Character Rejected" *ngIf="filter.module == 'CHARACTER'">
                      {{ "CHARACTER.REJECTED" | translate }}
                    </option>
                    <option value="Character Completed" *ngIf="filter.module == 'CHARACTER'">
                      {{ "CHARACTER.COMPLETED" | translate }}
                    </option>
                    <option value="Character Assigned to Officer" *ngIf="filter.module == 'CHARACTER'">
                      {{ "CHARACTER.ASSIGN_TO_OFFICER" | translate }}
                    </option>
                    <!-- APPOINTMENT -->
                    <option value="Appointment Assign" *ngIf="filter.module == 'APPOINTMENT'">
                      {{ "APPOINTMENT.ASSIGNED" | translate }}
                    </option>
                    <option value="Appointment Rejected" *ngIf="filter.module == 'APPOINTMENT'">
                      {{ "APPOINTMENT.REJECTED" | translate }}
                    </option>
                    <option value="Appointment Completed" *ngIf="filter.module == 'APPOINTMENT'">
                      {{ "APPOINTMENT.CLOSED" | translate }}
                    </option>
                    <option value="Appointment Assigned to Officer" *ngIf="filter.module == 'APPOINTMENT'">
                      {{ "APPOINTMENT.ASSIGN_TO_OFFICER" | translate }}
                    </option>
                    <!-- PASSPORT -->
                    <option value="Passport Assign" *ngIf="filter.module == 'PASSPORT'">
                      {{ "PASSPORT.ASSIGNED" | translate }}
                    </option>
                    <option value="Passport Rejected" *ngIf="filter.module == 'PASSPORT'">
                      {{ "PASSPORT.REJECTED" | translate }}
                    </option>
                    <option value="Passport Completed" *ngIf="filter.module == 'PASSPORT'">
                      {{ "PASSPORT.CLOSED" | translate }}
                    </option>
                    <option value="Passport Assigned to Officer" *ngIf="filter.module == 'PASSPORT'">
                      {{ "PASSPORT.ASSIGN_TO_OFFICER" | translate }}
                    </option>
                  </select>

                  <ng-multiselect-dropdown *ngIf="filter.type == 'STATION' && currentLang == 'en'" class="ngDropDown"
                    [placeholder]="'Select Station'" [data]="stationList" name="destinations"
                    [(ngModel)]="selectedStationIds" [ngModelOptions]="{ standalone: true }"
                    [settings]="dropdownSettings" (onSelect)="updateStationFilter($event, filter.data)"
                    (onDeSelect)="updateStationFilter($event, filter.data)"
                    (onSelectAll)="updateStationFilter($event, filter.data)"
                    (onDeSelectAll)="updateStationFilter($event, filter.data)" aria-required="true" required>
                  </ng-multiselect-dropdown>

                  <ng-multiselect-dropdown *ngIf="filter.type == 'STATION' && currentLang == 'hi'" class="ngDropDown"
                    [placeholder]="'Select Station'" [data]="stationList" name="destinations"
                    [(ngModel)]="selectedStationIds" [ngModelOptions]="{ standalone: true }"
                    [settings]="dropdownSettingsHi" (onSelect)="updateStationFilter($event, filter.data)"
                    (onDeSelect)="updateStationFilter($event, filter.data)"
                    (onSelectAll)="updateStationFilter($event, filter.data)"
                    (onDeSelectAll)="updateStationFilter($event, filter.data)" aria-required="true" required>
                  </ng-multiselect-dropdown>

                  <!-- Fole Role -->
                  <ng-multiselect-dropdown *ngIf="filter.type == 'ROLES'" class="ngDropDown"
                    [placeholder]="'Select Role'" [data]="roleList" name="destinations" [(ngModel)]="selectedRoleIds"
                    [ngModelOptions]="{ standalone: true }" [settings]="dropdownRoleSettings"
                    (onSelect)="updateRoleFilter($event, filter.data)"
                    (onDeSelect)="updateRoleFilter($event, filter.data)"
                    (onSelectAll)="updateRoleFilter($event, filter.data)"
                    (onDeSelectAll)="updateRoleFilter($event, filter.data)" aria-required="true" required>
                  </ng-multiselect-dropdown>

                  <!-- Designations -->
                  <ng-multiselect-dropdown *ngIf="filter.type == 'DESIGNATIONS' && currentLang == 'hi'"
                    class="ngDropDown" [placeholder]="'Select Designation'" [data]="designationList" name="destinations"
                    [(ngModel)]="selectedDesignationId" [ngModelOptions]="{ standalone: true }"
                    [settings]="dropdownDesignSettingsHi" (onSelect)="updateDesignationFilter($event, filter.data)"
                    (onDeSelect)="updateDesignationFilter($event, filter.data)"
                    (onSelectAll)="updateDesignationFilter($event, filter.data)" (onDeSelectAll)="
                      updateDesignationFilter($event, filter.data)
                    " aria-required="true" required>
                  </ng-multiselect-dropdown>
                  <ng-multiselect-dropdown *ngIf="filter.type == 'DESIGNATIONS' && currentLang == 'en'"
                    class="ngDropDown" [placeholder]="'Select Designation'" [data]="designationList" name="destinations"
                    [(ngModel)]="selectedDesignationId" [ngModelOptions]="{ standalone: true }"
                    [settings]="dropdownDesignSettings" (onSelect)="updateDesignationFilter($event, filter.data)"
                    (onDeSelect)="updateDesignationFilter($event, filter.data)"
                    (onSelectAll)="updateDesignationFilter($event, filter.data)" (onDeSelectAll)="
                      updateDesignationFilter($event, filter.data)
                    " aria-required="true" required>
                  </ng-multiselect-dropdown>

                  <ng-multiselect-dropdown *ngIf="filter.type == 'SMSPROVIDER'" class="ngDropDown"
                    [placeholder]="'Select Service Provider'" [data]="smsProvidersList" name="destinations"
                    [(ngModel)]="selectedSmsProviderId" [ngModelOptions]="{ standalone: true }"
                    [settings]="dropdownSmsProviderSettings" (onSelect)="updateDesignationFilter($event, filter.data)"
                    (onDeSelect)="updateDesignationFilter($event, filter.data)"
                    (onSelectAll)="updateDesignationFilter($event, filter.data)" (onDeSelectAll)="
                      updateDesignationFilter($event, filter.data)
                    " aria-required="true" required>
                  </ng-multiselect-dropdown>

                  <ng-multiselect-dropdown *ngIf="filter.type == 'SMSTEMPLATE'" class="ngDropDown"
                    [placeholder]="'Select Template'" [data]="smsTemplateList" name="destinations"
                    [(ngModel)]="selectedSmsTemplateId" [ngModelOptions]="{ standalone: true }"
                    [settings]="dropdownSmsTemplateSettings" (onSelect)="updateDesignationFilter($event, filter.data)"
                    (onDeSelect)="updateDesignationFilter($event, filter.data)"
                    (onSelectAll)="updateDesignationFilter($event, filter.data)" (onDeSelectAll)="
                      updateDesignationFilter($event, filter.data)
                    " aria-required="true" required>
                  </ng-multiselect-dropdown>

                  <select name="appType" class="form-control hindi" (change)="updateDropDownFilter($event, filter.data)"
                    *ngIf="filter.type == 'APPTYPE'">
                    <option value="null">
                      {{ "CHARACTER.SELECT_APPLICANT_TYPE" | translate }}
                    </option>
                    <option value="Job">
                      {{ "CHARACTER.JOB" | translate }}
                    </option>
                    <option value="Placement">
                      {{ "CHARACTER.PLACEMENT" | translate }}
                    </option>
                    <option value="Contractors">
                      {{ "CHARACTER.CONTRACTORS" | translate }}
                    </option>
                    <option value="Business Proposal">
                      {{ "CHARACTER.BUSINESS_PURPOSE" | translate }}
                    </option>
                    <option value="Bank CSP">
                      {{ "CHARACTER.BANK_CSP" | translate }}
                    </option>
                    <option value="Other Commercial Purpose Any Other">
                      {{ "CHARACTER.OTHER_COMMERTIAL_PURPOSE" | translate }}
                    </option>
                  </select>

                  <select name="passportType" class="form-control hindi"
                    (change)="updateDropDownFilter($event, filter.data)" *ngIf="filter.type == 'PASSTYPE'">
                    <option value="null">
                      {{ "PASSPORT.SEL_PASS_TYPE" | translate }}
                    </option>
                    <option value="{{ 'PASSPORT.PASS' | translate }}">
                      {{ "PASSPORT.PASS" | translate }}
                    </option>
                    <option value="{{ 'PASSPORT.POLICE_CERIFICATE' | translate }}">
                      {{ "PASSPORT.POLICE_CERIFICATE" | translate }}
                    </option>
                  </select>

                  <select name="ecommStatus" class="form-control hindi"
                    (change)="updateDropDownFilter($event, filter.data)" *ngIf="filter.type == 'ECOMMTYPE'">
                    <option value="null">
                      {{ "CITIZEN_REPORT.SELECT_TYPE" | translate }}
                    </option>
                    <option value="Processed">
                      {{ "ECOM_RECEIPT.PROCESSED" | translate }}
                    </option>
                    <option value="Waiting at Department">
                      {{ "ECOM_RECEIPT.WAITING" | translate }}
                    </option>
                    <option value="Complaint Assigned to Officer">
                      {{ "COMPLAINT.COPM_ASSIGNED" | translate }}
                    </option>
                  </select>

                  <select name="firType" class="form-control hindi" (change)="updateDropDownFilter($event, filter.data)"
                    *ngIf="filter.type == 'FIRTYPE'">
                    <option value="null">ALL</option>
                    <option value="SR">SR</option>
                    <option value="NSR">NSR</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="ColumnMode.force" [headerHeight]="44"
  [footerHeight]="50" rowHeight="auto" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
  [externalPaging]="true" (page)="setPage($event)" [externalSorting]="true" (sort)="onSort($event)"
  [loadingIndicator]="loading" [rowClass]="getRowClass" style="width: 100%">
  <ngx-datatable-column *ngFor="let column of columns" name="{{ column.name }}"
    [flexGrow]="column.size ? column.size : 1" [sortable]="column.sort ? true : false"
    [width]="column.width ? column.width : 'auto'">
    <ng-template ngx-datatable-header-template>
      <span>{{ column.colName | translate }}</span>
    </ng-template>
    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
      <!-- <span *ngIf="column.props == 'id'">{{ rowIndex + 1 }}</span> -->
      <span *ngIf="
          column.name != 'Actions' && !column.type && !column.isNeedToTranslate
        ">{{ value }}</span>

      <span *ngIf="
          column.name != 'Actions' && !column.type && column.isNeedToTranslate
        ">{{ value.replace(" ", ".") | translate }}</span>

      <div *ngIf="column.type == 'DATE'">
        <div *ngIf="!value">
          {{ value }}
        </div>

        <div *ngIf="value.indexOf('/') > -1 && !condition">
          {{ value }}
        </div>
        <div *ngIf="value.indexOf('/') == -1 && !condition">
          {{ value | date: "dd/MM/yyyy" }}
        </div>

        <div *ngIf="
            condition &&
            column.name == condition.split('-')[1] &&
            row[condition.split('-')[0]]?.length > 0
          ">
          {{ value | date: "dd/MM/yyyy" }}
        </div>

        <div *ngIf="condition && column.name != condition.split('-')[1]">
          {{ value | date: "dd/MM/yyyy" }}
        </div>
      </div>
      <div *ngIf="column.type == 'DATETIME'">
        <div *ngIf="value.indexOf('/') > -1">
          {{ value }}
        </div>
        <div *ngIf="value.indexOf('/') == -1">
          {{ value | date: "dd/MM/yyyy, h:mm a" }}
        </div>
      </div>
      <div *ngIf="column.type == 'TRUE-FALSE'">
        <div *ngIf="value == true">
          {{ column.data["true"] }}
        </div>
        <div *ngIf="value == false">
          {{ column.data["false"] }}
        </div>
      </div>
      <div *ngIf="column.type == 'TRUE-FALSE'">
        <div *ngIf="value == true">
          {{ column.data["true"] }}
        </div>
        <div *ngIf="value == false">
          {{ column.data["false"] }}
        </div>
      </div>
      <div *ngIf="column.type == 'MODEL'">
        <button *ngIf="column.click" (click)="column.click(row)">View</button>
        <button *ngIf="!column.click">View</button>
      </div>
      <div *ngIf="column.type == 'MEDIA'" style="text-align: center">
        <app-image-viewer [imageURL]="value" [imgWidth]="'80px'" [imgHeight]="'80px'"></app-image-viewer>
      </div>
      <div *ngIf="column.type == 'CID_PROGRESS'" style="text-align: center">
        <h6>{{row.chargesheetInfo}}</h6>
        <div class="bar" *ngIf="row.chargesheet == 'No'">
          <div [style]="{width: getTimeDate(row.cidCrimeCategory.chargesheetMonitoringDays, row[column.extra])+'%'}"
            [ngClass]="{success: getTimeDate(row.cidCrimeCategory.chargesheetMonitoringDays, row[column.extra]) > 0 && getTimeDate(row.cidCrimeCategory.chargesheetMonitoringDays, row[column.extra]) <= 49,
                                  warn:  getTimeDate(row.cidCrimeCategory.chargesheetMonitoringDays, row[column.extra]) > 50 && getTimeDate(row.cidCrimeCategory.chargesheetMonitoringDays, row[column.extra]) <= 75,
                                  red:  getTimeDate(row.cidCrimeCategory.chargesheetMonitoringDays, row[column.extra]) > 75 && getTimeDate(row.cidCrimeCategory.chargesheetMonitoringDays, row[column.extra]) <= 100 || getDate(row.cidCrimeCategory.chargesheetMonitoringDays, row[column.extra]) < 0 }">
          </div>

          <p
            style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; position: absolute;z-index: 10;margin: 0;top: 0;">
            {{
            (getDate(row.cidCrimeCategory.chargesheetMonitoringDays, row[column.extra]) < 0 ? 0 :
              getDate(row.cidCrimeCategory.chargesheetMonitoringDays, row[column.extra])) + ' days left' }}</p>

              <!-- (' + (getTimeDate(row.chargesheetMonitoringDays, row[column.extra]) ? -->
              <!-- getTimeDate(row.chargesheetMonitoringDays, row[column.extra]) : 100) +'% Completed) -->
        </div>

      </div>
      <div *ngIf="column.name == 'Actions'">
        <i class="material-icons m-1" style="cursor: pointer; color: #1bb21b"
          (click)="goToInsideViewLink(permissions.inside_view_url, row)"
          *ngIf="permissions.inside_view && permissions.inside_view_url" placement="top" ngbTooltip="View Detail">
          remove_red_eye
        </i>

      


        <i class="material-icons m-1" style="cursor: pointer; color: #1bb21b"
          (click)="goToViewLink(permissions.view_url, row)" *ngIf="permissions.view && permissions.view_url"
          placement="top" ngbTooltip="View Detail">
          remove_red_eye
        </i>



          <!-- <button
  type="button"
  class="btn btn-success btn-sm m-1 px-3 rounded-pill shadow"
  style="cursor: pointer;"
  (click)="goToInsideViewLink(permissions.inside_view_url, row)"
  *ngIf="permissions.inside_view && permissions.inside_view_url"
  placement="top"
  ngbTooltip="View Detail"
>
 <i class="material-icons" style="font-size: 16px;">remove_red_eye</i> View
</button> -->



        <!-- <i class="material-icons m-1" style="cursor: pointer; color: #0275d8"
          (click)="goToEditLink(permissions.edit_url, row)"
          *ngIf="permissions.edit && permissions.edit_url && !condition" placement="top" ngbTooltip="Edit Detail">
          mode
        </i> --> 

   <button  
  type="button"
  class="btn btn-primary btn-sm m-1 px-3 rounded-pill shadow d-flex align-items-center gap-1"
  style="cursor: pointer;"
  (click)="goToEditLink(permissions.edit_url, row)"
  *ngIf="permissions.edit && permissions.edit_url && !condition"
  placement="top"
  ngbTooltip="Edit Detail"
>
  <i class="material-icons" style="font-size: 16px;">edit</i>Update
</button>



        <i class="material-icons m-1" style="cursor: pointer; color: #0275d8"
          (click)="goToEditLink(permissions.edit_url, row)" *ngIf="
            permissions.edit &&
            permissions.edit_url &&
            condition &&
            row[condition.split('-')[0]] == condition.split('-')[1]
          " placement="top" ngbTooltip="Edit Detail">
          mode
        </i>

        <i class="material-icons m-1" style="cursor: pointer; color: #0275d8" (click)="editCurrentForm(row)"
          *ngIf="permissions.edit_current_form" placement="top" ngbTooltip="Edit Detail">
          mode
        </i>

        <i class="material-icons m-1" style="cursor: pointer; color: #d9534f"
          *ngIf="row['active'] && permissions.deactivate" (click)="onDeactivateData(row, permissions.deactivate_url)"
          placement="top" ngbTooltip="Deactivate Detail">
          pause_circle
        </i>

        <!-- <div>
          row['active']: {{ row['active'] }} <br />
          permissions.deactivate: {{ permissions.deactivate }} <br />
          permissions.activate: {{ permissions.activate }}
        </div> -->

        <i class="material-icons m-1" style="cursor: pointer; color: #5cb85c"
          *ngIf="!row['active'] && permissions.activate" (click)="onActivateData(row, permissions.activate_url)"
          placement="top" ngbTooltip="Activate Detail">
          play_circle
        </i>

        <i class="material-icons m-1" style="cursor: pointer; color: #d21f3c"
          *ngIf="row['active'] && permissions.delete" (click)="onDeleteData(row, permissions.delete_url)"
          placement="top" ngbTooltip="Delete Detail Forever">
          delete_forever
        </i>

        <i class="material-icons m-1" style="cursor: pointer; color: #d21f3c"
          *ngIf="row['active'] && permissions.changeStatusDelete" (click)="
            onDeleteDataAndRefreshView(row, permissions.changeStatusDelete_url)
          " placement="top" ngbTooltip="Delete Detail Forever">
          delete_forever
        </i>

        <i class="material-icons m-1" style="cursor: pointer; color: #d21f3c"
          *ngIf="row['active'] && permissions.forwardDestinationDelete"
          (click)="onDeleteData(row, permissions.forwardDestinationDelete_url)" placement="top"
          ngbTooltip="Delete Detail Forever">
          delete_forever
        </i>

        <i class="material-icons m-1" style="cursor: pointer; color: #8a2be2" placement="top" *ngIf="
            row['active'] &&
            permissions.download_cert &&
            condition &&
            row[condition.split('-')[0]] ==
              condition.split('-')[1].replace('_', ' ')
          " ngbTooltip="Download Certificate" (click)="downloadCert(row)">
          file_download
        </i>

        <!-- <button
          (click)="goToViewLink(permissions.view_url, row)"
          class="btn btn-success mx-1 btn-sm"

        >
          View
        </button> -->
        <!-- <button
          (click)="goToEditLink(permissions.edit_url, row)"
          class="btn btn-primary mx-1 btn-sm"
          *ngIf="permissions.edit && permissions.edit_url"
        >
          Edit
        </button> -->
        <!-- <button
          class="btn btn-danger mx-1 btn-sm"
          *ngIf="row['active'] && permissions.deactivate"
          (click)="onDeactivateData(row, permissions.deactivate_url)"
        >
          Deactivate
        </button> -->
        <!-- <button
          class="btn btn-success mx-1 btn-sm"
          *ngIf="!row['active'] && permissions.activate"
          (click)="onActivateData(row, permissions.activate_url)"
        >
          Activate
        </button> -->
        <!-- <button
          class="btn btn-danger mx-1 btn-sm"
          *ngIf="row['active'] && permissions.delete"
          (click)="onDeleteData(row, permissions.delete_url)"
        >
          Delete
        </button> -->
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<app-modal id="downloadCertificate" [className]="'md-modal high-box'" *ngIf="permissions.download_cert">
  <app-character-download></app-character-download></app-modal>
