// $primary-color: #116466;
// $top-bar: #f10101;
// $active-menu: #116466;
// $active-menu-hover: #116466;

// $title-bar: #ff1a1a;
// $page-title: #116466;

// $service-menu: #116466;
// $service-menu-hover: #116466;
// $service-sidebar: #172646;

// $footer: #116466;
// $super-footer: #000000;

// $news-sidebar: #19a6a8;

// $black: #000000;
// $white: #ffffff;

// $botton: #116466;
// $botton-hover: #19a6a8;


$super-header-color: #031b2e;
  $primary-color: #031b2e;
  $top-bar: #f10101;
  $active-menu: #031b2e;
  $active-menu-hover: #0c2d49;

  $title-bar: #6a1b03;
  $page-title: #031b2e;

  $service-menu: #5c2211;
  $service-menu-hover: #3db7ef;
  $service-sidebar: #172646;

  $footer: #031b2e;
  $super-footer: #000000;

  $news-sidebar: #5fb611;

  $black: #000000;
  $white: #ffffff;

  $botton: #262809;
  $botton-hover: #31330e;

  $header-color: #f5f5f5;
  $header-text-color: #000000;
