<div class="col-sn-12 header-title">
  <span class="header-txt glob-span">{{
    "CHARACTER.CHARACTER_DOWNLOAD_TITLE" | translate
  }}</span>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 back-btn">
      <button
        class="submit-btn btn-custome"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
        "
        (click)="goBack()"
      >
        &#215;
      </button>
    </div>
  </div>
</div>
<form [formGroup]="characterDownloadForm">
  <div class="container-fluid">
    <div
      class="row"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="col-sm-12 col-md-3 py-2" *ngIf="errorMsg">
        <ngb-alert [type]="alertType" [dismissible]="false">
          <span style="width: 100%">
            {{ errorMsg }}
          </span>
        </ngb-alert>
      </div>
    </div>
    <div
      class="row"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="col-sm-12 col-md-3 py-2">
        <div class="form-group row">
          <label
            for="districtMemoNo"
            class="col-sm-12 col-md-6"
            style="display: flex; justify-content: center; align-items: center"
            >Enter District Memo No :</label
          >
          <div class="col-sm-12 col-md-6">
            <input
              id="districtMemoNo"
              name="districtMemoNo"
              type="number"
              class="form-control hindi"
              formControlName="districtMemoNo"
              placeholder="eg.001"
              [ngClass]="{
                invalidInput: isControlHasErrors('districtMemoNo')
              }"
              required
            />
            <div
              *ngIf="isControlHasError('districtMemoNo', 'required')"
              class="invalid"
            >
              <strong>Enter district Memo number</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 py-2">
        <div class="form-group row">
          <label
            for="charId"
            class="col-sm-12 col-md-6"
            style="display: flex; justify-content: center; align-items: center"
            >Enter Character ID :</label
          >
          <div class="col-sm-12 col-md-6">
            <input
              id="charId"
              name="charId"
              type="text"
              class="form-control hindi"
              formControlName="charId"
              placeholder="eg.0001/2021"
              [ngClass]="{ invalidInput: isControlHasErrors('charId') }"
              required
            />
            <div
              *ngIf="isControlHasError('charId', 'required')"
              class="invalid"
            >
              <strong>Enter Character id</strong>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-sm-12 col-md-3 py-2"
        style="
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        "
      >
        <button class="submit-btn btn-custome" (click)="submitData()">
          Check Certificate
        </button>
      </div>
    </div>
  </div>
</form>

<div class="container-fluid">
  <div
    class="row"
    style="display: flex; justify-content: center; align-items: center"
  >
    <div class="col-sm-12 col-md-9 py-2">
      <div *ngIf="showData">
        <div *ngIf="charFormData.signedCert" style="text-align: center">
          <div
            style="
              color: #0f5132;
              text-transform: uppercase;
              text-align: center;
            "
          >
            <h6>
              This is Sined Character Certificate which Valid for any purpose.
              Please click on Download Certificate
            </h6>
          </div>

          <a
            *ngIf="charFormData.signedCert"
            [href]="url + charFormData.signedCert"
            class="btn btn-primary"
            target="_blank"
          >
            Download Signed Certificate
          </a>
        </div>
        <div *ngIf="!charFormData.signedCert">
          <div
            style="
              color: #d23939;
              text-transform: uppercase;
              text-align: center;
            "
          >
            <h6>
              This is Unsined Character Certificate which not valid for any
              purpose. Please wait until the Sign Certificate is Uploaded
            </h6>
          </div>

          <div
            id="downloadCerificateunSigned"
            style="font-size: 16px; background-color: #fff; color: #000"
          >
            <div class="card m-3">
              <div
                class="
                  card-body
                  d-flex
                  justify-content-between
                  aling-item-center
                "
              >
                <table>
                  <tr>
                    <td style="width: 30%; border-bottom: 1px solid black">
                      <img
                        src="/assets/images/logo_bihar.png"
                        style="
                          width: 100px;
                          height: 100px;
                          margin: 10px;
                          padding: 10px;
                        "
                      />
                    </td>
                    <td
                      style="
                        width: 40%;
                        text-align: center;
                        border-bottom: 1px solid black;
                      "
                      *ngIf="language == 'en'"
                    >
                      <p>Character Certificate</p>
                      <p>----------------------------------------</p>
                      <p>
                        Office Of The Superintendent Of Police,
                        {{ "HOME.DISTRICT" | translate }}
                      </p>
                    </td>
                    <td
                      style="
                        width: 40%;
                        text-align: center;
                        border-bottom: 1px solid black;
                      "
                      *ngIf="language == 'hi'"
                    >
                      <p>चरित्र प्रमाण पत्र</p>
                      <p>----------------------------------------</p>
                      <p>
                        पुलिस अधीक्षक का कार्यालय,
                        {{ "HOME.DISTRICT" | translate }}।
                      </p>
                    </td>
                    <td
                      style="
                        width: 30%;
                        border-bottom: 1px solid black;
                        text-align: right;
                      "
                    >
                      <img
                        src="/assets/images/logo.jpeg"
                        style="
                          width: 100px;
                          height: 100px;
                          margin: 10px;
                          padding: 10px;
                        "
                      />
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding: 10px 0 0 30px"
                      colspan="2"
                      valign="bottom"
                      *ngIf="language == 'en'"
                    >
                      <p>
                        Dist Memo No :
                        <span style="font-weight: bold">{{
                          charFormData?.districtMemoNo
                        }}</span>
                        <br />
                        Character Certificate No:
                        <span style="font-weight: bold">{{
                          charFormData?.id +
                            "/" +
                            (charFormData?.createdDate | date: "yyyy")
                        }}</span>
                      </p>
                    </td>
                    <td
                      style="padding: 10px 0 0 30px"
                      colspan="2"
                      valign="bottom"
                      *ngIf="language == 'hi'"
                    >
                      <p>
                        जिला ज्ञापांक नम्बर :
                        <span style="font-weight: bold">{{
                          charFormData?.districtMemoNo
                        }}</span
                        ><br />
                        चरित्र प्रमाण पत्र नम्बर:
                        <span style="font-weight: bold">{{
                          charFormData?.id +
                            "/" +
                            (charFormData?.createdDate | date: "yyyy")
                        }}</span>
                      </p>
                    </td>
                    <td
                      style="width: 30%; padding-top: 20px; text-align: center"
                      rowspan="2"
                    >
                      <img
                        [src]="charFormData?.userImage"
                        style="width: 100px; height: 130px"
                      />
                    </td>
                  </tr>
                  <tr valign="top">
                    <td
                      style="width: 30%; padding-left: 30px"
                      colspan="2"
                      *ngIf="language == 'en'"
                    >
                      <p>
                        Dated :
                        <span style="font-weight: bold">{{
                          charFormData?.updatedDate | date: "dd/MM/yyyy"
                        }}</span>
                      </p>
                    </td>
                    <td
                      style="width: 30%; padding-left: 30px"
                      colspan="2"
                      *ngIf="language == 'hi'"
                    >
                      <p>
                        दिनांक :
                        <span style="font-weight: bold">{{
                          charFormData?.updatedDate | date: "dd/MM/yyyy"
                        }}</span>
                      </p>
                    </td>
                  </tr>
                  <tr style="height: 350px" valign="top">
                    <td colspan="3" *ngIf="language == 'en'">
                      <p
                        style="
                          padding: 30px;
                          line-height: 2;
                          text-align: justify;
                        "
                      >
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        This is to certify that
                        <span style="font-weight: bold">{{
                          charFormData?.initialsName
                        }}</span
                        >&nbsp;<span style="font-weight: bold">{{
                          charFormData?.name
                        }}</span
                        >&nbsp;<span style="font-weight: bold">{{
                          charFormData?.relationName
                        }}</span
                        ><span
                          style="font-weight: bold"
                          *ngIf="charFormData?.guardianRelation"
                          >{{ charFormData?.guardianRelation }}</span
                        >&nbsp;<span style="font-weight: bold"
                          >{{ charFormData?.fatherHusbandName }}
                        </span>
                        Village
                        <span style="font-weight: bold"
                          >{{ charFormData?.villageLocality }}
                        </span>
                        Post
                        <span style="font-weight: bold"
                          >{{ charFormData?.postOffice }}
                        </span>
                        PS
                        <span style="font-weight: bold">{{
                          charFormData?.stationName
                        }}</span>
                        District {{ "HOME.DISTRICT" | translate }} has been
                        verified by the concerned PS
                        <span style="font-weight: bold">{{
                          charFormData?.stationName
                        }}</span>
                        on the applicant&apos;s given address. It has been
                        informed vide SHO&apos;s Memo No
                        <span style="font-weight: bold">{{
                          charFormData?.stationMemoNo
                        }}</span>
                        dated
                        <span style="font-weight: bold">{{
                          characterForm?.updatedDate | date: "dd/MM/yyyy"
                        }}</span>
                        that the name and address of the applicant
                        <span style="font-weight: bold">{{
                          charFormData?.name
                        }}</span>
                        found correct and he/she has been residing at the given
                        address for
                        <span style="font-weight: bold">{{
                          charFormData?.durationIn
                        }}</span>
                        <span style="font-weight: bold">{{
                          charFormData?.durationStay
                        }}</span>
                        . At present the applicant is doing
                        <span style="font-weight: bold">{{
                          characterForm?.question7
                        }}</span>
                        and there is nothing adverse reported against him/her in
                        the Police Station records. This Character Certificate
                        is issued for
                        <span style="font-weight: bold">{{
                          characterForm?.question9 || charFormData?.type
                        }}</span>
                        &nbsp;Purpose. This Certificate is Valid for SIX Months
                        from the Date of Issue.
                      </p>
                    </td>
                    <td colspan="3" *ngIf="language == 'hi'">
                      <p
                        style="
                          padding: 30px;
                          line-height: 2;
                          text-align: justify;
                        "
                      >
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                          style="font-weight: bold"
                          >{{ charFormData?.initialsName }}</span
                        >&nbsp;<span style="font-weight: bold">{{
                          charFormData?.name
                        }}</span
                        >&nbsp;<span style="font-weight: bold">{{
                          charFormData?.relationName
                        }}</span
                        ><span
                          style="font-weight: bold"
                          *ngIf="charFormData?.guardianRelation"
                          >{{ charFormData?.guardianRelation }}</span
                        >&nbsp;<span style="font-weight: bold"
                          >{{ charFormData?.fatherHusbandName }}
                        </span>
                        निवास
                        <span style="font-weight: bold"
                          >{{ charFormData?.villageLocality }}
                        </span>
                        पोस्ट
                        <span style="font-weight: bold"
                          >{{ charFormData?.postOffice }}
                        </span>
                        थाना
                        <span style="font-weight: bold">{{
                          charFormData?.stationName
                        }}</span>
                        जिला {{ "HOME.DISTRICT" | translate }} का चरित्र सत्यापन
                        उनके द्वारा दिये गये पता पर थानाध्यक्ष
                        <span style="font-weight: bold">{{
                          charFormData?.stationName
                        }}</span>
                        द्वारा कराया गया है। सत्यापन के क्रम में संबंधित
                        थानाध्यक्ष अपने ज्ञापांक नम्बर
                        <span style="font-weight: bold">{{
                          charFormData?.stationMemoNo
                        }}</span>
                        दिनांक
                        <span style="font-weight: bold">{{
                          characterForm?.updatedDate | date: "dd/MM/yyyy"
                        }}</span>
                        द्वारा सूचित किया गया है कि अभ्यर्थी
                        <span style="font-weight: bold">{{
                          charFormData?.name
                        }}</span>
                        का नाम व पता सही है एवं इस पता पर
                        <span style="font-weight: bold">{{
                          charFormData?.durationIn
                        }}</span>
                        <span style="font-weight: bold">{{
                          charFormData?.durationStay
                        }}</span>
                        से रह रहे है। ये
                        <span style="font-weight: bold">{{
                          characterForm?.question7
                        }}</span>
                        कार्य करते है तथा इनके विरुद्ध इस
                        <span style="font-weight: bold">{{
                          charFormData?.stationName
                        }}</span>
                        अभिलेख में कोई प्रतिकूल प्रविष्टि नही पायी गयी है। इसके
                        आधार पर यह चरित्र प्रमाण-पत्र
                        <span style="font-weight: bold">{{
                          characterForm?.question9 || charFormData?.type
                        }}</span>
                        कार्य के लिए जारी किया गया है। इसकी वैधता निर्गत होने की
                        तिथि से छ: माह तक ही है।
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="padding: 100px 0 0 30px"
                      colspan="2"
                      *ngIf="language == 'en'"
                    >
                      Location:
                      <span style="font-weight: bold">{{
                        "HOME.DISTRICT" | translate
                      }}</span>
                    </td>
                    <td
                      style="padding: 100px 0 0 30px"
                      colspan="2"
                      *ngIf="language == 'hi'"
                    >
                      स्थान:
                      <span style="font-weight: bold">{{
                        "HOME.DISTRICT" | translate
                      }}</span>
                    </td>
                    <td></td>
                  </tr>
                  <tr *ngIf="language == 'en'">
                    <td valign="top" style="padding: 0 0 0 30px" colspan="2">
                      Date :
                      <span style="font-weight: bold"
                        ><span style="font-weight: bold">{{
                          characterForm?.updatedDate | date: "dd/MM/yyyy"
                        }}</span></span
                      >
                    </td>
                    <td style="width: 10%">
                      <p>
                        Superintendent of Police,
                        {{ "HOME.DISTRICT" | translate }}
                      </p>
                    </td>
                  </tr>
                  <tr *ngIf="language == 'hi'">
                    <td valign="top" style="padding: 0 0 0 30px" colspan="2">
                      दिनांक :
                      <span style="font-weight: bold"
                        ><span style="font-weight: bold">{{
                          characterForm?.updatedDate | date: "dd/MM/yyyy"
                        }}</span></span
                      >
                    </td>
                    <td style="width: 10%">
                      <p>पुलिस अधीक्षक, {{ "HOME.DISTRICT" | translate }}</p>
                    </td>
                  </tr>
                  <tr>
                    <td
                      colspan="3"
                      style="padding: 20px 0"
                      *ngIf="language == 'en'"
                    >
                      <p style="padding: 20px 30px; line-height: 2">
                        Before using this certificate, its validity should be
                        verified by going to the
                        {{ "HOME.DISTRICT" | translate }} Police official Web
                        Portal,
                        {{ url + "/characterDownload" }}
                        by providing the given District Memo No:
                        {{ charFormData?.districtMemoNo }} & Character
                        Certificate No:
                        {{
                          charFormData?.id +
                            "/" +
                            (charFormData?.createdDate | date: "yyyy")
                        }}
                      </p>
                    </td>
                    <td colspan="3" *ngIf="language == 'hi'">
                      <p style="padding: 30px 30px; line-height: 2">
                        इस प्रमाण पत्र को उपयोग मे लाने से पूर्व इसकी वैधता की
                        जाँच आप
                        {{ "HOME.DISTRICT" | translate }} पुलिस के अधिकारिक वेब
                        पोर्टल,
                        {{ url + "/characterDownload" }}
                        पर दिया हुआ जिला ज्ञापांक नम्बर:
                        {{ charFormData?.districtMemoNo }} और चरित्र प्रमाण पत्र
                        नम्बर:
                        {{
                          charFormData?.id +
                            "/" +
                            (charFormData?.createdDate | date: "yyyy")
                        }}
                        प्रदान करके इसकी सत्यता की जाँच कर सकते हैं
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
