<div class="col-sn-12 header-title">
  <span class="header-txt glob-span">{{
    "HOME.APPOINTMENT_SP" | translate
    }}</span>
</div>
<div class="appointment">
  <div class="appoint-form">
    <div class="col-sm-12 status-btn">
      <button class="submit-btn btn-custome" (click)="openModal('appointmentCheckStatusModal')">
        {{ "APPOINTMENT.APPOINTMENT_STATUS" | translate }}
      </button>
    </div>

    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isCompleted">
      <h6 *ngIf="currrentLang == 'en'">`{{ APPOINTMENT_MSG_EN }}`</h6>
      <h6 *ngIf="currrentLang == 'hi'">`{{ APPOINTMENT_MSG_HI }}`</h6>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
        (click)="isCompleted = false"></button>
    </div>

    <div class="divide-line" style="margin-bottom: 20px; margin-top: 10px"></div>
    <form class="form needs-validation text-center" novalidate [formGroup]="appForm" autocomplete="off"
      novalidate="novalidate" id="public_appointment">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <span class="glob-span">{{ "APPOINTMENT.NAME" | translate }}</span><input *ngIf="currrentLang == 'hi'"
              type="text" id="name" name="name" placeholder="{{ 'APPOINTMENT.ENTER_NAME' | translate }}"
              (keypress)="validAplpha($event)" formControlName="name" class="form-control hindi hindiFont" [ngClass]="{
                invalidInput: isControlHasErrors('name')
              }" (change)="focusOut($event, 'name')" (focusout)="focusOut($event, 'name')" required />
            <input *ngIf="currrentLang == 'en'" type="text" id="name" name="name"
              placeholder="{{ 'APPOINTMENT.ENTER_NAME' | translate }}" (keypress)="validAplpha($event)"
              formControlName="name" class="form-control hindi" [ngClass]="{
                invalidInput: isControlHasErrors('name')
              }" required />
            <div *ngIf="isControlHasError('name', 'required')" class="invalid">
              <strong>Name is required</strong>
            </div>
            <div *ngIf="isControlHasError('name', 'minlength')" class="invalid">
              <strong>Minimum 3 Character Required</strong>
            </div>
          </div>
          <div class="col-sm-4">
            <span class="glob-span">{{ "HOME.YOUR_MOB_NO" | translate }}:</span><input type="text" id="mobileNo"
              maxlength="10" minlength="10" name="mobileNo" (keypress)="numberOnly($event)"
              placeholder="{{ 'APPOINTMENT.ENTER_MOBILE' | translate }}" formControlName="mobileNo" class="form-control"
              [ngClass]="{ invalidInput: isControlHasErrors('mobileNo') }" required />
            <div *ngIf="isControlHasError('mobileNo', 'required')" class="invalid">
              <strong>Mobile Number is required</strong>
            </div>
            <div *ngIf="isControlHasError('mobileNo', 'minlength')" class="invalid">
              <strong>Minimum 10 Numbers Required</strong>
            </div>
          </div>
          <div class="col-sm-4">
            <span class="glob-span">{{
              "APPOINTMENT.MEETING_DATE" | translate
              }}</span>
            <input type="date" id="appDate" min="{{ min | date: 'yyyy-MM-dd' }}" (keypress)="validAplpha($event)"
              (change)="doCkeckTodayDate($event.target)" name="appDate" formControlName="appDate" class="form-control"
              [ngClass]="{ invalidInput: isControlHasErrors('appDate') }" required />
            <div *ngIf="isControlHasError('appDate', 'required')" class="invalid">
              <strong>Select Meeting Date</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <span class="glob-span">{{
              "APPOINTMENT.VISITING_SLOT" | translate
              }}</span><select name="shift" id="shift" name="shift" formControlName="shift" class="form-select"
              [ngClass]="{ invalidInput: isControlHasErrors('shift') }" required>
              <option value="null">
                {{ "APPOINTMENT.SELECT_SHIFT" | translate }}
              </option>
              <option *ngIf="showshift10to12" value="10AM-12PM">
                10AM-12PM
              </option>
              <option *ngIf="showshift12to02" value="12PM-02PM">
                12PM-02PM
              </option>
              <option *ngIf="showshift02to04" value="02PM-04PM">
                02PM-04PM
              </option>
              <option *ngIf="showshift04to06" value="04PM-06PM">
                04PM-06PM
              </option>
            </select>
            <div *ngIf="isControlHasError('shift', 'required')" class="invalid">
              <strong>Select Any One Shift</strong>
            </div>
          </div>
          <div class="col-sm-4">
            <span class="glob-span">{{ "HOME.YOUR_DIST" | translate }}:</span>

            <select name="districtName" id="districtName" formControlName="districtId"
              (change)="doCheckDistrict($event.target)" autocomplete="off" class="form-select"
              [ngClass]="{ invalidInput: isControlHasErrors('districtId') }" required>
              <option value="null" disabled>
                {{ "APPOINTMENT.SELECT_DISTRICT" | translate }}
              </option>
              <option *ngFor="let district of districtList" value="{{ district.id }}">
                <span *ngIf="currrentLang == 'en'">{{
                  district.districtName
                  }}</span>
                <span *ngIf="currrentLang == 'hi'">{{
                  district.districtNameHi
                  }}</span>
              </option>
            </select>

            <div *ngIf="isControlHasError('districtId', 'required')" class="invalid">
              <strong>Select District</strong>
            </div>
          </div>
          <div class="col-sm-4" [ngStyle]="{ display: isOtherDistrict ? 'block' : 'none' }">
            <span class="glob-span">{{
              "APPOINTMENT.OTHER_DIST" | translate
              }}</span><input *ngIf="currrentLang == 'hi'" type="text" id="otherDistrict" name="otherDistrict"
              placeholder="{{ 'APPOINTMENT.ENTER_DISTRICT' | translate }}" formControlName="otherDistrict"
              class="form-control hindi hindiFont" [ngClass]="{
                invalidInput: isControlHasErrors('otherDistrict')
              }" (change)="focusOut($event, 'otherDistrict')" (focusout)="focusOut($event, 'otherDistrict')" />
            <input *ngIf="currrentLang == 'en'" type="text" id="otherDistrict" name="otherDistrict"
              placeholder="{{ 'APPOINTMENT.ENTER_DISTRICT' | translate }}" formControlName="otherDistrict"
              class="form-control hindi" [ngClass]="{
                invalidInput: isControlHasErrors('otherDistrict')
              }" (change)="focusOut($event, 'otherDistrict')" (focusout)="focusOut($event, 'otherDistrict')" />
          </div>
          <div class="col-sm-4" *ngIf="!isOtherDistrict">
            <span class="glob-span">{{ "HOME.YOUR_POLICE" | translate }}:</span>

            <select name="stationName" id="stationName" formControlName="stationId" autocomplete="off"
              class="form-select" [ngClass]="{ invalidInput: isControlHasErrors('stationId') }">
              <option value="null" disabled>
                {{ "APPOINTMENT.SELECT_POLICE_STATION" | translate }}
              </option>
              <option *ngFor="let station of stationList" value="{{ station.id }}">
                <span *ngIf="currrentLang == 'en'">{{
                  station.stationName
                  }}</span>
                <span *ngIf="currrentLang == 'hi'">{{
                  station.stationNameHi
                  }}</span>
              </option>
            </select>
          </div>
          <div class="col-sm-4" [ngStyle]="{ display: isOtherDistrict ? 'block' : 'none' }">
            <span class="glob-span">{{
              "APPOINTMENT.OTHER_POLICE" | translate
              }}</span><input *ngIf="currrentLang == 'hi'" type="text" id="otherStationName" name="otherStationName"
              placeholder="{{ 'APPOINTMENT.ENTER_POLICE_STATION' | translate }}" formControlName="otherStationName"
              class="form-control hindi hindiFont" [ngClass]="{
                invalidInput: isControlHasErrors('otherStationName')
              }" (change)="focusOut($event, 'otherStationName')" (focusout)="focusOut($event, 'otherStationName')" />
            <input *ngIf="currrentLang == 'en'" type="text" id="otherStationName" name="otherStationName"
              placeholder="{{ 'APPOINTMENT.ENTER_POLICE_STATION' | translate }}" formControlName="otherStationName"
              class="form-control hindi" [ngClass]="{
                invalidInput: isControlHasErrors('otherStationName')
              }" (change)="focusOut($event, 'otherStationName')" (focusout)="focusOut($event, 'otherStationName')" />
          </div>

          <div class="col-sm-4">
            <span class="glob-span">{{
              "APPOINTMENT.DOC" | translate
              }}</span><input type="file" id="document" name="document" formControlName="document"
              accept="application/pdf,image/jpeg,image/jpg,image/png,image/jfif,image/jpeg,image/pjpeg"
              class="form-control" [ngClass]="{
                invalidInput: isControlHasErrors('document')
              }" (change)="focusOut($event, 'document')" (focusout)="focusOut($event, 'document')"
              (change)="handleInvoiceChange($event.target.files)">
          </div>

          <div class="col-sm-4">
            <span class="glob-span">{{
              "APPOINTMENT.MEETING_PURPOSE" | translate
              }}</span><textarea *ngIf="currrentLang == 'hi'" class="meeting-area" id="purpose" name="purpose"
              placeholder="{{ 'APPOINTMENT.ENTER_PURPOSE' | translate }}" formControlName="purpose"
              class="form-control hindi hindiFont" [ngClass]="{
                invalidInput: isControlHasErrors('purpose')
              }" (change)="focusOut($event, 'purpose')" (focusout)="focusOut($event, 'purpose')" required></textarea>
            <textarea *ngIf="currrentLang == 'en'" class="meeting-area" id="purpose" name="purpose"
              placeholder="{{ 'APPOINTMENT.ENTER_PURPOSE' | translate }}" formControlName="purpose"
              class="form-control hindi" [ngClass]="{
                invalidInput: isControlHasErrors('purpose')
              }" (change)="focusOut($event, 'purpose')" (focusout)="focusOut($event, 'purpose')" required></textarea>
            <div *ngIf="isControlHasError('purpose', 'required')" class="invalid">
              <strong>Meeting Purpose is Required</strong>
            </div>
            <div *ngIf="isControlHasError('purpose', 'minlength')" class="invalid">
              <strong>Minimum 5 Character Required</strong>
            </div>
            <div *ngIf="isControlHasError('purpose', 'maxlength')" class="invalid">
              <strong>Maximum 250 Character Required</strong>
            </div>
          </div>
          <div class="col-sm-4">
            <span class="glob-span">{{ "HOME.YOUR_ADDRESS" | translate }}:</span><textarea *ngIf="currrentLang == 'hi'"
              class="meeting-area" id="address" name="address" placeholder="{{ 'CONTACT.SEL_ADDRESS' | translate }}"
              formControlName="address" class="form-control hindi hindiFont" [ngClass]="{
                invalidInput: isControlHasErrors('address')
              }" (change)="focusOut($event, 'address')" (focusout)="focusOut($event, 'address')" required></textarea>
            <textarea *ngIf="currrentLang == 'en'" class="meeting-area" id="address" name="address"
              placeholder="{{ 'CONTACT.SEL_ADDRESS' | translate }}" formControlName="address" class="form-control hindi"
              [ngClass]="{
                invalidInput: isControlHasErrors('address')
              }" (change)="focusOut($event, 'address')" (focusout)="focusOut($event, 'address')" required></textarea>
            <div *ngIf="isControlHasError('address', 'required')" class="invalid">
              <strong>Address is Required</strong>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="isVerifyOtp">
          <div class="col-sm-4">
            <span class="glob-span">{{
              "APPOINTMENT.VERIFY_OTP" | translate
              }}</span><input type="text" id="verifyOTP" name="verifyOTP" placeholder="Enter OTP"
              formControlName="verifyOTP" class="form-control" (keypress)="numberOnly($event)" maxlength="6"
              [ngClass]="{ invalidInput: isControlHasErrors('verifyOTP') }" />
          </div>
        </div>
      </div>
      <div class="divide-line"></div>
      <div class="row">
        <div class="col-sm-12 submit-bar" *ngIf="!isVerifyOtp">
          <button class="submit-btn btn-custome" (click)="doSendOTP()">
            Send OTP
          </button>
        </div>
        <div class="col-sm-12 submit-bar" *ngIf="isVerifyOtp">
          <button class="submit-btn btn-custome" (click)="doVerifyOTP()">
            Submit OTP
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Check Status Form -->

<app-modal id="appointmentCheckStatusModal" [className]="'md-modal'">
  <div class="checkStatusModal">
    <div *ngIf="errorMsg">
      <ngb-alert [type]="alertType" [dismissible]="false">
        <span style="width: 100%">
          {{ errorMsg }}
        </span>
      </ngb-alert>
    </div>

    <form [formGroup]="appointmentCheckStatusGroup">
      <div class="container">
        <div class="row" style="display: flex; justify-content: center; align-items: center">
          <div class="col-sm-12 col-md-8 py-2">
            <div class="form-group row">
              <label for="id" class="col-sm-12 col-md-6" style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                ">Enter your Appointment ID :</label>
              <div class="col-sm-12 col-md-6">
                <input id="id" name="id" type="text" class="form-control" formControlName="id" required />
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4 py-2" style="
              display: flex;
              justify-content: space-evenly;
              align-items: center;
            ">
            <button class="submit-btn btn-custome" (click)="submitData()">
              Submit
            </button>
            <button class="submit-btn btn-custome" (click)="closeModal('appointmentCheckStatusModal')">
              Close
            </button>
          </div>
        </div>
      </div>
    </form>

    <div *ngIf="alertType == 'success'">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td style="font-weight: bold">Appointment Id</td>
            <td>{{ srNo }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Name</td>
            <td>{{ name }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Applied Date</td>
            <td>{{ appliedDate | date: "dd/MM/yyyy" }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Status</td>
            <td>{{ dataStatus }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Appointment Date</td>
            <td>{{ appDate | date: "dd/MM/yyyy" }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Appointment Time</td>
            <td>{{ appShift }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Message</td>
            <td>{{ dataMessage }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-modal>

<!-- Check Status Form End -->