<div class="card m-3">
    <div class="card-header h5 text-white bg-secondary">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <span>Gr Section Details</span>
            </div>
        </div>
    </div>
    <div class="card-body d-flex justify-content-between aling-item-center">
        <div class="container-fluid">
            <div class="row">
                <app-table-data [rows]="grSectionRows" [page]="grSectionPage" [columns]="grSectionColumns"
                    [path]="grSectionPath" [permissions]="grSectionPermissions">
                </app-table-data>
            </div>
        </div>
    </div>
</div>